<div class="container1">
  <box-icon name="arrow-back" color="#001844" (click)="cancelEditTag()" >Back</box-icon>
  <h2>Tags</h2>
  <div class="subheader1">
    <h3>Update Tag...</h3>
  </div>
  <hr style="margin-bottom: 25px;">
  <form [formGroup]="editTagForm" (ngSubmit)="confirmUpdate()">
      <div class="form-group1">
        <label for="editTagName">Tag Name *</label>
        <input
          type="text"
          id="editTagName"
          class="form-control1"
          formControlName="tagName"
          placeholder="Tag Name"
          required
          [ngClass]="{
            'input-invalid':
              editFTag['tagName'].touched && editFTag['tagName'].invalid
          }"
        />
        <div
          *ngIf="editFTag['tagName'].touched && editFTag['tagName'].invalid"
          class="text-danger"
        >
          <small
            *ngIf="editFTag['tagName'].errors?.['required']"
            style="color: rgb(163, 58, 58)"
            >Tag Name is required.</small
          >
        </div>
      </div>
      <div class="form-group1">
        <label for="editTagDescription">Tag Description *</label>
        <input
          type="text"
          id="editTagDescription"
          class="form-control1"
          formControlName="tagDescription"
          placeholder="Tag Description"
          required
          [ngClass]="{
            'input-invalid':
              editFTag['tagDescription'].touched &&
              editFTag['tagDescription'].invalid
          }"
        />
        <div
          *ngIf="
            editFTag['tagDescription'].touched &&
            editFTag['tagDescription'].invalid
          "
          class="text-danger"
        >
          <small
            *ngIf="editFTag['tagDescription'].errors?.['required']"
            style="color: rgb(163, 58, 58)"
            >Tag Description is required.</small
          >
        </div>
      </div>
      <div class="form-group1">
        <label for="editTagTypeId">Tag Type *</label>
        <select
          id="editTagTypeId"
          class="form-control1"
          formControlName="tagTypeId"
          [ngClass]="{
            'input-invalid':
              editFTag['tagTypeId'].touched && editFTag['tagTypeId'].invalid
          }"
        >
          <option value="" disabled selected>Select Tag Type</option>
          <option *ngFor="let type of tagTypes" [value]="type.tagTypeId">
            {{ type.tagtypeName }}
          </option>
        </select>
        <div
          *ngIf="editFTag['tagTypeId'].touched && editFTag['tagTypeId'].invalid"
          class="text-danger"
        >
          <small
            *ngIf="editFTag['tagTypeId'].errors?.['required']"
            style="color: rgb(163, 58, 58)"
            >Tag Type is required.</small
          >
        </div>
      </div>
      <div class="col">
        <!-- Leave Empty -->
      </div>
    <div class="d-flex justify-content-center mt-4">                    
      <button type="submit" class="btn1 btn-primary1" style="margin-right: 10px">
        Update
      </button>
      <button type="button" class="btn1 btn-cancel1" (click)="cancel()">
        Cancel
      </button>
  </div>

  </form>
</div>
