<div class="container1">
    <box-icon name="arrow-back" color="#001844" (click)="cancel()">Back</box-icon>
    <h2>Roles</h2>
    <div class="subheader1">
        <h3>Create New Role...</h3>
    </div>

    <ng-container>
        <hr style="margin-bottom: 25px;">
           <Form [formGroup]="createRoleForm" (ngSubmit)="confirmSaveRole()">
                <div class="form-group1">
                    <label for="roleName" class="form-label">Role Name *</label>
                    <input type="text" id="roleName" class="form-control1" formControlName="roleName" placeholder="New role name..." required
                    [ngClass]="{'input-invalid': f['roleName'].touched && f['roleName'].invalid}">
                    <div *ngIf="f['roleName'].touched && f['roleName'].invalid" class="text-danger">
                        <small *ngIf="f['roleName'].errors?.['required']" style="color: rgb(163, 58, 58);">Role Name is required.</small>
                      </div>
                </div>
                <div class="form-group1">
                    <label for="roleDescription">Role Description *</label>
                    <textarea id="roleDescription" class="form-control1" formControlName="roleDescription" placeholder="Write description here..." 
                    [ngClass]="{'input-invalid': f['roleDescription'].touched && f['roleDescription'].invalid}" required></textarea>
                    <div *ngIf="f['roleDescription'].touched && f['roleDescription'].invalid">
                        <small *ngIf="f['roleDescription'].errors?.['required']" style="color: rgb(163, 58, 58);">Role Description is required.</small>
                      </div>
                </div>
                <div class="d-flex justify-content-center mt-4">                    
                    <button type="submit" class="btn1 btn-primary1" >Submit</button>
                    <button type="button" class="btn1 btn-cancel1 ms-2" (click)="cancel()">Cancel</button>                        
                  </div>  

           </Form> 
    </ng-container>

  </div>