<div class="container1 teams-container">
    <h2>Roles</h2>
    <div class="subheader1">
      <div class="row">
        <div class="col"><h3>List of Roles</h3></div>
        <div *ngIf="hasPermission(Permissions.canManageRoles)" class="col text-end"><button class="btn1 btn-primary1" (click)="router.navigate(['/add-role'])">Add New Role +</button></div>
      </div>
    </div>
    <hr style="margin-bottom: 10px;"> 
    <div class="row justify-content-between mb-0 mt-0">
      <div class="col-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Roles..." [(ngModel)]="searchTerm" (input)="onSearch($event)">
          <div class="input-group-append">
            <span class="input-group-text"><box-icon name='search'></box-icon></span>
          </div>
          <box-icon *ngIf="searchTerm" name='x-circle' class="clear-search-icon" (click)="clearSearch()"></box-icon>
        </div>
      </div>
    </div> 
    <div *ngIf="filteredRoles.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
      <b>No results found!</b>
    </div>
      <table *ngIf="filteredRoles.length > 0" class="content-table">
        <thead>
          <tr>
            <th width="25%">Role Name</th>
            <th width="30%">Role Description</th>
            <th width="30%"></th>           
            <th width="15%" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of filteredRoles | paginate: { itemsPerPage: 10, currentPage: page}">
            <td>{{ role.name }}</td>
            <td>{{ role.roleDescription }}</td>
            <td></td>
            <td class="text-center">
              <span *ngIf="!hasPermission(Permissions.canManageRoles)"> - </span>
              <box-icon *ngIf="hasPermission(Permissions.canManageRoles)"  name='show' color='#001844' (click)="viewRole(role.roleId)"></box-icon>
            </td>
          </tr>
        </tbody>
      </table> 
      <pagination-controls *ngIf="filteredRoles.length > 0" (pageChange)="page = $event" class="text-end"></pagination-controls>     
  </div>

