<div class="parent1">
    <div class="form-container sign-in-container">
      <form (ngSubmit)="goSubmit()" #passwordForm="ngForm">
        <div class="logo-container" >
          <img src="assets/NewLogoWithoutSlogan.png" alt="Test Script Tracker Logo" class="logo-image">
        </div>
        <h1>REGISTER</h1>
        <span>Create a password</span>
  
        <h2>Password</h2>
        <input type="password" placeholder="Enter your password" [(ngModel)]="registeredUser.passwordHash" name="passwordHash" required minlength="8" maxlength="20" #passwordHash="ngModel" (input)="checkPasswordStrength(registeredUser.passwordHash!)">
        <div style="color: red;" *ngIf="passwordHash.invalid && (passwordHash.dirty || passwordHash.touched)">
          <div *ngIf="passwordHash.errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="passwordHash.errors?.['minlength']">
            Password must be at least 8 characters long.
          </div>
          <div *ngIf="passwordHash.errors?.['maxlength']">
            Password cannot be more than 20 characters long.
          </div>
        </div>
        <div class="password-strength-container">
          <div class="password-strength-bar" [style.width.%]="passwordStrengthScore * 25"></div>
        </div>
  
        <div class="password-strength-description">{{passwordStrengthDescription}}</div>
        <div class="password-feedback">{{passwordFeedback}}</div>

        <!-- <button type="submit" [disabled]="passwordForm.invalid">Submit</button>
        <button type="button" class="button" (click)="goBack()">Cancel</button> -->
        <div class="button-row" style="display: flex; justify-content: space-between;">
          <div class="col2"><button type="submit" class="button" style="margin-right: 50px;" [disabled]="passwordForm.invalid">Submit</button></div>
          <div class="col2"><button type="button" class="button" style="margin-left: 50px;" (click)="goBack()">Cancel</button></div></div>
        
      </form>
    </div>
    <div class="overlay-container">
      <img src="assets/login.jpeg" style="width: 100%; height: 100%;">
    </div>
  </div>
  