<div class="container1">
    <box-icon name="arrow-back" color="#001844" (click)="goBack()">Back</box-icon>
    <div class="subheader1">
      <div *ngIf="defect">
        <div >
          <h2  class="user-title text-center" > Defect Details</h2>
          <div class="card text-center">
            <!-- <div class="card-header card-header-custom">
              Defect
            </div> -->
            <div class="card-body">
              <p class="card-text mb-1">
                <span class="bold-text">Description:</span> {{ defect.defectDescription }}
              </p>
              <p class="card-text mb-1">
                <span class="bold-text">Status:</span> {{ defect.defectStatus }}
              </p>
              <p class="card-text mb-1">
                <span class="bold-text">Date Logged:</span> {{ getFormattedDate(defect.dateLogged) }}
              </p>
              <p class="card-text mb-1">
                <span class="bold-text">Test Script:</span> {{ defect.testScriptName }}
              </p>
              <p class="card-text mb-1" *ngIf="isUser">
                <span class="bold-text" >Logged By:</span> {{userDets.userFirstName}} {{userDets.userSurname}}
              </p>
              <p class="card-text mb-1" *ngIf="isUser==false">
                <span class="bold-text" >Logged By: No user found</span> 
              </p>
            </div>
            <div class="card-body text-body-secondary" *ngIf="defect.imageTrue">
              <img [src]="defect.defectImage" class="img-fluid" alt="Defect Image" />
            </div>
            <div class="card-footer text-body-secondary">
                <box-icon  name="edit" color="#001844" *ngIf="defect.inProgress" (click)="openModal(); hideTooltip('update-icon')" id="update-icon"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Update Defect"></box-icon>
                <box-icon  name="check-double" color="#001844" *ngIf="defect.inProgress" (click)="resolveDefect(); hideTooltip('resolve-icon')" id="resolve-icon"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Resolve Defect"></box-icon>
                <box-icon  name="x" color="#ef0000" *ngIf="defect.inProgress" (click)="unResolveDefect(); hideTooltip('unresolve-icon')" id="unresolve-icon"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Unresolve Defect"></box-icon>
              <box-icon  name="lock-open-alt" color="#ef0000"  *ngIf="defect.isUnclosed" (click)="closeDefect(); hideTooltip('close-icon')" id="close-icon"
              data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Close Defect"></box-icon>
          </div>
         
          </div>
        </div>
        <div *ngIf="showModal" id="editForm" [ngClass]="{'show': showModal}" class="modal1">
          <div class="modal-dialog1 modal-dialog-centered">
            <div class="modal-content1">
              <div class="modal-header1 row">
                <div class="col"><h2><b>Update Defect</b></h2></div>
                <div class="col text-end"><box-icon name='x' (click)="closeModal()"></box-icon></div>
              </div>
              
              <div class="modal-body1">
        
            <form [formGroup]="editForm" (ngSubmit)="updateDefect()">
              <div class="form-group1">
                <label for="defectDescription">Description</label>
                <textarea id="defectDescription" formControlName="defectDescription" class="form-control1" placeholder="Enter the defect description"></textarea>
                <div *ngIf="editForm.get('defectDescription')?.invalid && editForm.get('defectDescription')?.touched" class="text-danger">
                  <small *ngIf="editForm.get('defectDescription')?.errors?.['required']">Description is required.</small>
                  <small *ngIf="editForm.get('defectDescription')?.errors?.['minlength']">Description must be at least 10 characters long.</small>
                  <small *ngIf="editForm.get('defectDescription')?.errors?.['maxlength']">Description cannot be more than 150 characters long.</small>
                </div>
                  <!-- Hidden input field for defectId-->
              <input type="hidden" formControlName="defectId" id="defectId"/> 
              </div>
              <div class="form-group1 text-center">
                <button type="submit" class="btn1 btn-primary1" style="margin-right: 10px;" >Save</button>
                <button type="button" class="btn1 btn-cancel1" (click)="closeModal()">Cancel</button>
              </div>
            </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>
