<div class="container1">
    <h2>System</h2>
    <div class="subheader1">
        <div class="row">
          <div class="col"><h3>List of Countries</h3></div>
          <div class="col text-end"><button class="btn1 btn-primary1" (click)="openModal(false)" >Add New Country +</button></div>
        </div>
    </div>

    <hr style="margin-bottom: 10px;"> 
    <div class="row justify-content-between mb-0 mt-0">
      <div class="col-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search countries...">
          <div class="input-group-append">
            <span class="input-group-text"><box-icon name='search'></box-icon></span>
          </div>
        </div>
      </div>
    </div> 

    <table class="content-table mt-3">
        <thead>
          <tr>
            <th>Country Name</th>
            <th width="10%">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries">
            <td>{{ country.countryName }}</td>
            <td>
              <box-icon name='edit' color='#001844' (click)="openModal(true, country)"></box-icon>
              <box-icon name='trash' color='#ef0000' (click)="deleteCountry(country.countryId)"></box-icon>
            </td>
          </tr>
        </tbody>
      </table>
    
      <div *ngIf="showModal" class="modal">
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <h2>{{ isUpdate ? 'Update Country' : 'Add Country' }}</h2>
          <form (ngSubmit)="saveCountry()">
            <div class="form-group1">
              <label for="countryName" class="form-label">Country Name:</label>
              <input class="form-control1" id="countryName" [(ngModel)]="country.countryName" name="countryName" required placeholder="Country Name">
            </div>
            <div class="d-flex justify-content-center mt-4">                    
              <button type="submit" class="btn1 btn-primary1">{{ isUpdate ? 'Update' : 'Save' }}</button> 
              <button type="button" class="btn1 btn-cancel1 ms-2" (click)="closeModal()">Cancel</button>
            </div>

          </form>
        </div>
      </div>

</div>