
<!-- <p-confirmDialog></p-confirmDialog> -->

<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
      <div class="custom-confirm-dialog">
        <div class="icon-wrapper">
          <i class="pi pi-info-circle icon"></i>
        </div>
        <span class="title">{{ message.header }}</span>
        <p class="message">{{ message.message }}</p>
        <div class="button-group">
          <button class="custom-confirm-button" (click)="cd.accept()">Confirm</button>
          <button class="custom-cancel-button" (click)="cd.reject()">Cancel</button>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>


<!-- <p-toast key="bc" position="bottom-center" class="p-toast-bottom-center"></p-toast> -->

<!--<p-confirmDialog></p-confirmDialog>-->
<p-toast key="bc" position="bottom-center" life="1500" [preventOpenDuplicates]="true" ></p-toast>
<p-toast key="tl" position="top-right" life="1500" [preventOpenDuplicates]="true"></p-toast>

<!-- <app-header></app-header> -->
<!-- <div class="home-section"> -->
<!--   <router-outlet></router-outlet> -->


 <app-sidenavbar *ngIf="showSidebarAndNavbar"></app-sidenavbar>  
 <app-header  *ngIf="showSidebarAndNavbar"></app-header> 
 <div *ngIf="!showSidebarAndNavbar" class="home-section1">
 <router-outlet></router-outlet> 
</div>
<app-loading></app-loading>


