<div class="container1">
  <box-icon name="arrow-back" color="#001844" (click)="goBack(); hideTooltip('go-back-icon')" id="go-back-icon"
  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Go back"></box-icon>
  <h2>Manage Role</h2>
  <h2 class="role-title">{{ role?.name }}</h2>
  <div class="card text-center">
    <div class="card-body">
      <p class="card-text mb-1">
        <span class="bold-text">Role Description: <br /></span>
        {{ role?.roleDescription }}
      </p>
    </div>
    <div class="card-footer text-body-secondary">
      <box-icon *ngIf="hasRolePermission(Permissions.canManageRoles)" name="edit" color="#001844" (click)="router.navigate(['edit-role', roleId]); hideTooltip('update-icon')" id="update-icon"
        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Update Role"
      ></box-icon>
      <box-icon *ngIf="hasRolePermission(Permissions.SystemAdministrator)" name="trash" color="#ef0000" (click)="confirmDeleteRole(role?.roleId); hideTooltip('delete-icon')" id="delete-icon"
        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete Role"
      ></box-icon>   
    </div>
  </div>

  <div class="card mt-4" [class.disabled]="!hasRolePermission(Permissions.canManagePermissionRoles)">
    <div class="card-header">
      Permissions
    </div>
    <div class="card-body">
      <div class="row">
        <div *ngFor="let permission of availablePermissions" class="col-12 col-md-6 col-lg-4 mt-1">
          <div class="form-check">
            <input 
              class="form-check-input custom-checkbox ms-5" 
              type="checkbox" 
              [checked]="hasPermission(permission.value)" 
              (change)="togglePermission(permission.value)" 
              [disabled]="!hasRolePermission(Permissions.canManageUserRoles)"            
              />
            <label class="form-check-label ms-2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                [attr.data-bs-title]="permission.description">
              {{ permission.name }}
            </label>
          </div>
        </div>
      </div>
      <button class="btn1 btn-primary1 mt-3 w-100" (click)="confirmUpdateConfiguration()">Update permissions</button>
    </div>
  </div>
</div>




