
<div class="container1">
  <h2 *ngIf="hasPermission(Permissions.SystemAdministrator)">Projects</h2>
  <h2 *ngIf="!hasPermission(Permissions.SystemAdministrator)">My Projects</h2>
  <div class="subheader1">
    <div class="row">
      <div class="col"><h3>List of Projects</h3></div>
      <div *ngIf="hasPermission(Permissions.canManageProjects)" class="col text-end"><button (click)="openClientModal()" class="btn1 btn-primary1">Add New Project +</button></div>
    </div>
    <hr style="margin-bottom: 10px;">
    <div class="date-filter border border-secondary rounded" style="padding: 15px;">
      <h5>Apply Filter:</h5>
    <hr>
      <div class="row">
        <div class="col-3 form-group1">
          <label for="phaseFilter">Filter by Phase:</label>
          <select id="phaseFilter" class="form-control1" [(ngModel)]="selectedPhaseId" (change)="onFilterChange()">
            <option value="null" disabled>Select Phase</option>
            <option *ngFor="let phase of projectPhases" [value]="phase.phaseId">{{ phase.phaseName }}</option>
          </select>
        </div>
        <!-- <div class="col- form-group1">
          <label for="isActiveFilter">Filter by Active Status:</label>
          <select id="isActiveFilter" class="form-control1" [(ngModel)]="isActiveFilter" (change)="onFilterChange()">
            <option value="null" disabled>Select Activity Status</option>
            <option [value]="true">Active Projects</option>
            <option [value]="false">Inactive Projects</option>
        </select>
        </div> -->
        <div class="col form-group1">
          <label for="clearFilters" style="padding: 12px;"></label>
          <input type="button" (click)="clearFilters()" class="btn btn-secondary form-control1" value="Clear Filters" style="width: 180px;">
        </div>
      </div>
    </div>

 
    <div class="row justify-content-between mb-0 mt-3">
      <div class="col-12">
        <div class="input-group">
          <input [(ngModel)]="searchTerm" (ngModelChange)="filterProjects()" id="searchTerm" type="text" placeholder="Search by Project or client name" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text"><box-icon name='search'></box-icon></span>
          </div>
          <box-icon *ngIf="searchTerm" name='x-circle' class="clear-search-icon" (click)="clearSearch()"></box-icon>
        </div>
      </div>
    </div>
    <div *ngIf="filteredProjects.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
      <b>No results found!</b>
    </div>
    <table *ngIf="filteredProjects.length > 0" class="content-table">
      <thead>
        <tr>
          <th style="width:15%">Project Name</th>
          <th style="width:10%">Start Date</th>
          <th style="width:10%">End Date</th>
          <th style="width:30%">Project Description</th>
          <th style="width:15%">Client Name</th>
          <th style="width:10%;">Phase</th>
          <th style="width:10%" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of filteredProjects | paginate: { itemsPerPage: 10, currentPage: page }">
          <td>{{ project.projectName }}</td>
          <td>{{ project.startDate | date }}</td>
          <td>{{ project.endDate | date }}</td>
          <td>{{ project.projectDescription }}</td>
          <td>{{ getClientName(project.clientId) }}</td>
          <td>{{ project.phaseName }}</td>
          <td class="text-center">
            <box-icon name='show' color='#001844' (click)="viewProject(project.projectId)"></box-icon>
            <!-- <box-icon name="show" color="#001844" (click)="viewProject(project.projectId); hideTooltip('view-icon')" id="view-icon"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="View Project"></box-icon> -->
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls *ngIf="filteredProjects.length > 0" (pageChange)="page = $event" class="text-end"></pagination-controls>
  </div>
</div>

<!-- Modal for selecting a client -->
<div class="modal1" tabindex="-1" [ngClass]="{'show': showClientModal}" *ngIf="showClientModal">
  <div class="modal-dialog1 modal-dialog-centered">
    <div class="modal-content1">
      <div class="modal-header1 row">
        <div class="col"><h2><b>Select A Client</b></h2></div>
        <div class="col text-end"><box-icon name='x' (click)="closeClientModal()"></box-icon></div>
      </div>
      
      <div class="modal-body1">
        <p *ngIf="!clientSearchTerm" style="color: red; padding-left: 5px;">Please click on the client you would like to add a project for!</p>
        <p *ngIf="clientSearchTerm && filteredClients.length === 0" style="color: red; padding-left: 5px;">No clients found!</p>
        <input type="text" [(ngModel)]="clientSearchTerm" (ngModelChange)="filterClients()" placeholder="Search client (using client name) to add a project for..." class="form-control mb-3">
        <ul style="margin-left: 5px;">
          <li *ngFor="let client of filteredClients | slice:0:5" class="list-group-item1 client-item1" (click)="selectClient(client.clientId)">
            {{ client.clientName }}
          </li>
        </ul>
        <p *ngIf="!clientSearchTerm && filteredClients.length > 5" style="color: red; padding-left: 5px;">Only 5 clients are showing! Please search for a client!</p>
      </div>
    </div>
  </div>
</div>
