<div class="container1">
  <box-icon name="arrow-back" color="#001844" (click)="cancelAddStatus()" >Back</box-icon>
  <h2>Status</h2>
  <div class="subheader1">
    <h3>Add New Status...</h3>
  </div>
  <hr style="margin-bottom: 25px;">
  <form [formGroup]="createStatusForm" (ngSubmit)="addStatus()">
      <div class="form-group1">
        <label for="statusName">Status Name *</label>
        <input
          type="text"
          id="statusName"
          class="form-control1"
          formControlName="statusName"
          placeholder="Status Name"
          required
          [ngClass]="{
            'input-invalid': f['statusName'].touched && f['statusName'].invalid
          }"
        />
        <div
          *ngIf="f['statusName'].touched && f['statusName'].invalid"
          class="text-danger"
        >
          <small
            *ngIf="f['statusName'].errors?.['required']"
            style="color: rgb(163, 58, 58)"
            >Status Name is required.</small
          >
        </div>
      </div>
      <div class="form-group1">
        <label for="statusDescription">Status Description *</label>
        <input
          type="text"
          id="statusDescription"
          class="form-control1"
          formControlName="statusDescription"
          placeholder="Status Description"
          required
          [ngClass]="{
            'input-invalid':
              f['statusDescription'].touched && f['statusDescription'].invalid
          }"
        />
        <div
          *ngIf="
            f['statusDescription'].touched && f['statusDescription'].invalid
          "
          class="text-danger"
        >
          <small
            *ngIf="f['statusDescription'].errors?.['required']"
            style="color: rgb(163, 58, 58)"
            >Status Description is required.</small
          >
        </div>
      </div>
      <div class="form-group1">
        <label for="statusTypeId">Status Type *</label>
        <select
          id="statusTypeId"
          class="form-control1"
          formControlName="statusTypeId"
          [ngClass]="{
            'input-invalid':
              f['statusTypeId'].touched && f['statusTypeId'].invalid
          }"
        >
          <option value="" disabled selected>Select Status Type</option>
          <option *ngFor="let type of statusTypes" [value]="type.statusTypeId">
            {{ type.statusTypeName }}
          </option>
        </select>
        <div
          *ngIf="f['statusTypeId'].touched && f['statusTypeId'].invalid"
          class="text-danger"
        >
          <small
            *ngIf="f['statusTypeId'].errors?.['required']"
            style="color: rgb(163, 58, 58)"
            >Status Type is required.</small
          >
        </div>
      </div>
      <div class="form-group1">
        <label for="projectId">Project *</label>
        <input
          type="text"
          id="projectId"
          class="form-control1"
          [formControl]="projectControl"
          [matAutocomplete]="auto"
          placeholder="Select Project"
          required
          [ngClass]="{
            'input-invalid': f['projectId'].touched && f['projectId'].invalid
          }"
          [value]="selectedProjectName"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onProjectSelected($event.option.value)"
        >
          <mat-option
            *ngFor="let project of filteredProjects | async"
            [value]="project.projectId"
          >
            {{ project.projectName }}
          </mat-option>
        </mat-autocomplete>
        <div
          *ngIf="f['projectId'].touched && f['projectId'].invalid"
          class="text-danger"
        >
          <small
            *ngIf="f['projectId'].errors?.['required']"
            style="color: rgb(163, 58, 58)"
            >Project is required.</small
          >
        </div>
      </div>

    <div class="d-flex justify-content-center mt-4">                    
      <button type="submit" class="btn1 btn-primary1" style="margin-right: 10px">
        Submit
      </button>
      <button type="button" class="btn1 btn-cancel1" (click)="cancel()">
        Cancel
      </button>
    </div>

  </form>
</div>
