<div class="container1">
    <h2>Users</h2>
    <div class="subheader1">
      <div class="row">
          <div class="col"><h3>List of Users</h3></div>
          <div *ngIf="hasPermission(Permissions.SystemAdministrator) && numRequests !== 0" class="col text-end"><button (click)="goApprove()" class="btn1 btn-primary1" style="font-size: smaller;">Approve Registration Requests</button></div>
      </div>
      <hr style="margin-bottom: 15px;"> 

      <div class="date-filter border border-secondary rounded" style="padding: 15px;">
        <h5>Apply Filter:</h5>
      <hr>
        <div class="row">
          <div class="col-3 form-group1">
            <label for="registrationStatusFilter">Filter by Registration Status:</label>
            <select id="registrationStatusFilter" class="form-control1" [(ngModel)]="selectedRegistrationStatusId" (change)="onFilterChange()">
              <option value="" disabled>Select Registration Status</option>
              <option *ngFor="let status of registrationStatuses" [value]="status.regStatusId">{{ status.regStatusName }}</option>
            </select>
          </div>
          <div class="col form-group1">
            <label for="clearFilters" style="padding: 12px;"></label>
            <input type="button" (click)="clearFilters()" class="btn btn-secondary form-control1" value="Clear Filters" style="width: 180px;">
          </div>
        </div>
      </div>


      <div class="row justify-content-between mb-0 mt-3">
        <div class="col-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search User by name, surname or email address" (input)="onSearch($event)">
            <div class="input-group-append">
              <span class="input-group-text"><box-icon name='search'></box-icon></span>
            </div>
          </div>
        </div>
      </div>
  </div>

  <p-messages *ngIf="numRequests !== 0" 
  [(value)]="ApproveRegistrationsExistMessages" 
  [escape]="false" [closable]="false" 
  showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
  </p-messages>

      <div *ngIf="filteredUsers.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
        <b>No results found!</b>
      </div>
      <table *ngIf="filteredUsers.length > 0" class="content-table">
        <thead>
          <tr>
            <th width="20%">Name</th>
            <th width="20%">Surname</th>
            <th width="30%">Email Address</th>
            <th width="20%">Status</th>
            <th width="10%" class="text-center">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let user of filteredUsers | paginate: { itemsPerPage: 10, currentPage: page }">
            <td>{{user.userFirstName}}</td>
            <td>{{user.userSurname}}</td>
            <td>{{user.userEmailAddress}}</td>
            <td>{{user.registrationStatusName}}</td>
            <!-- <td (click)="viewUserDetails(user.userEmailAddress)" class="back"><i class='bx bxs-user-detail'></i></td>         -->
            <td class="text-center">
              <span *ngIf="!hasPermission(Permissions.canManageUsers)"> - </span>
              <box-icon *ngIf="hasPermission(Permissions.canManageUsers)" name='show' color='#001844' (click)="viewUserDetails(user.userEmailAddress)"></box-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls *ngIf="filteredUsers.length > 0" (pageChange)="page = $event" class="text-end"></pagination-controls>
    </div>
  
  
  
   
  