
<div class="container1">
    <h2>Templates</h2>
    <div class="subheader1">  
      <div class="row">
        <div class="col"><h3>List of Templates</h3></div>
        <div class="col text-end"><button (click)="openModal()" class="btn1 btn-primary1">Create Template +</button></div>
      </div>
      <hr style="margin-bottom: 12px;"> 

      <div class="date-filter border border-secondary rounded" style="padding: 15px;">
        <h5>Apply Filter:</h5>
      <hr>
        <div class="row">
          <div class="col-3 form-group1">
            <label for="templateStatusFilter">Filter by Template Status:</label>
            <select id="templateStatusFilter" class="form-control1" [(ngModel)]="selectedTemplateStatusId" (change)="onFilterChange()">
              <option value="" disabled>Select Template Status</option>
              <option *ngFor="let status of templateStatuses" [value]="status.tempStatusId">{{ status.tempStatusName }}</option>
            </select>
          </div>
          <div class="col form-group1">
            <label for="clearFilters" style="padding: 12px;"></label>
            <input type="button" (click)="clearFilters()" class="btn btn-secondary form-control1" value="Clear Filters" style="width: 180px;">
          </div>
        </div>
      </div>

      <div class="row justify-content-between mb-0 mt-3">
        <div class="col-12">
          <div class="input-group">
            <input type="text" placeholder="Search Template by name, test or description" [(ngModel)]="searchQuery" (input)="onSearch()" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text"><box-icon name='search'></box-icon></span>
            </div>
            <box-icon *ngIf="searchQuery" name='x-circle' class="clear-search-icon" (click)="clearSearch()"></box-icon>
          </div>
        </div>
      </div>
  
      <p-messages *ngIf="hasPermission(Permissions.SystemAdministrator) && hasPendingReviewTemplates() && filteredTemplates.length > 0" 
                  [(value)]="messages" 
                  [escape]="false" [closable]="false" 
                  showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
      </p-messages>

      <div *ngIf="filteredTemplates.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
        <b>No results found!</b>
      </div>

      <table *ngIf="filteredTemplates.length > 0" id="templateTable" class="content-table">
        <thead>
          <tr>
            <th style="width:20%">Template Name</th>
            <th style="width:20%">Template Test</th>
            <th style="width:40%">Template Description</th>
            <th style="width:11%">Template Status</th>
            <th style="width:9%; text-align: center;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let template of filteredTemplates | paginate: { itemsPerPage: 10, currentPage: page }">
            <td>{{ template.templateName }}</td>
            <td>{{ template.templateTest }}</td>
            <td>{{ template.templateDescription }}</td>
            <td>{{ template.templateStatusName}}
              <span *ngIf="hasPermission(Permissions.SystemAdministrator) && template.tempStatusId === 3" class="pending-review-circle"></span>
            </td>
            <td style="text-align: center;">
              <box-icon name='show' color='#001844' (click)="viewTemplate(template.templateId)"></box-icon>
              <!-- <box-icon name="show" color="#001844" (click)="viewTemplate(template.templateId); hideTooltip('view-icon')" id="view-icon"
              data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="View Template"></box-icon> -->
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls *ngIf="filteredTemplates.length > 0" (pageChange)="page = $event" class="text-end"></pagination-controls>
    </div>

    <div *ngIf="showModal" id="addTemplateModal" [ngClass]="{'show': showModal}" class="modal1">
      <div class="modal-dialog1">
        <div class="modal-content1">
          <div class="modal-header1">
            <h2 class="modal-title1"><b>Add New Template</b></h2>
            <button type="button" class="btn-close" (click)="closeModal()">
              <box-icon name='x'></box-icon>
            </button>
          </div>
          <div class="modal-body1">
            <form [formGroup]="addTemplateForm" (ngSubmit)="createTemplate()">
              <div class="form-group1">
                <label for="templateName">Template Name</label>
                <input id="templateName" formControlName="templateName" class="form-control1" placeholder="Template name" required/>
                <div *ngIf="addTemplateForm.get('templateName')?.invalid && addTemplateForm.get('templateName')?.touched" class="text-danger">
                  <small *ngIf="addTemplateForm.get('templateName')?.errors?.['required']">Template Name is required.</small>
                  <small *ngIf="addTemplateForm.get('templateName')?.errors?.['minlength']">Template Name must be at least 10 characters long.</small>
                  <small *ngIf="addTemplateForm.get('templateName')?.errors?.['maxlength']">Template Name cannot be more than 100 characters long.</small>
                </div>
              </div>
              <div class="form-group1">
                <label for="templateTest">Template Test</label>
                <input id="templateTest" formControlName="templateTest" class="form-control1" placeholder="Template test" required/>
                <div *ngIf="addTemplateForm.get('templateTest')?.invalid && addTemplateForm.get('templateTest')?.touched" class="text-danger">
                  <small *ngIf="addTemplateForm.get('templateTest')?.errors?.['required']">Template Test is required.</small>
                  <small *ngIf="addTemplateForm.get('templateTest')?.errors?.['minlength']">Template Test must be at least 10 characters long.</small>
                  <small *ngIf="addTemplateForm.get('templateTest')?.errors?.['maxlength']">Template Test cannot be more than 100 characters long.</small>
                </div>
              </div>
              <div class="form-group1">
                <label for="templateDescription">Template Description</label>
                <textarea id="templateDescription" formControlName="templateDescription" class="form-control1" placeholder="Template description" required></textarea>
                <div *ngIf="addTemplateForm.get('templateDescription')?.invalid && addTemplateForm.get('templateDescription')?.touched" class="text-danger">
                  <small *ngIf="addTemplateForm.get('templateDescription')?.errors?.['required']">Template Description is required.</small>
                  <small *ngIf="addTemplateForm.get('templateDescription')?.errors?.['minlength']">Template Description must be at least 10 characters long.</small>
                  <small *ngIf="addTemplateForm.get('templateDescription')?.errors?.['maxlength']">Template Description cannot be more than 200 characters long.</small>
                </div>
              </div>
              <div class="form-group1 text-center">
                <button type="submit" class="btn1 btn-primary1" style="margin-right: 10px;">Create</button>
                <button type="button" class="btn1 btn-cancel1" (click)="closeModal()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
