<div class="container1">
    <box-icon name="arrow-back" color="#001844" (click)="cancel()">Back</box-icon>
    <h2>Client</h2>
    <div class="subheader1">
        <h3 style="margin-top: 2px; padding-top: 0;">Update Client Information...</h3>
    </div>
    <div class="row justify-content-between">
        <div class="col-11"><p style="margin-top: 5px; margin-bottom: 0;padding-bottom: 0;">Client Information</p></div>
    </div>
    
    <hr style="margin-bottom: 20px;margin-top: 5px;"> 

    <form [formGroup]="editClientForm" (ngSubmit)="confirmUpdate()">
            <div class="row justify-content">
                <div class="form-group1  col-3" >
                    <label for="clientName">Client Name *</label>
                    <input type="text" id="clientName" class="form-control1" formControlName="clientName" placeholder="Client Name" required
                    [ngClass]="{'input-invalid': f['addressStreetName'].touched && f['addressStreetName'].invalid}">
                    <div *ngIf="f['clientName'].touched && f['clientName'].invalid" class="text-danger">
                        <small *ngIf="f['clientName'].errors?.['required']">Client Name is required.</small>
                    </div>
                </div>
                <div class="form-group1 col-3">
                    <label for="clientEmail">Client Email *</label>
                    <input type="text" id="clientEmail" class="form-control1" placeholder="Client Email" formControlName="clientEmail" required
                    [ngClass]="{'input-invalid': f['clientEmail'].touched && f['clientEmail'].invalid}">
                    <div *ngIf="f['clientEmail'].touched && f['clientEmail'].invalid" class="text-danger">
                        <small *ngIf="f['clientEmail'].errors?.['required']">Client Email is required.</small>
                        <small *ngIf="f['clientEmail'].errors?.['email']">Client Email must be a valid email address.</small>
                    </div>
                </div>
                <div class="form-group1 col-3">
                    <label for="clientNumber">Client Number *</label>
                    <input type="text" id="clientNumber" class="form-control1" placeholder="Client Number" formControlName="clientNumber" required
                    [ngClass]="{'input-invalid': f['clientNumber'].touched && f['clientNumber'].invalid}">
                    <div *ngIf="f['clientNumber'].touched && f['clientNumber'].invalid" class="text-danger">
                        <small *ngIf="f['clientNumber'].errors?.['required']">Client Number is required.</small>
                        <small *ngIf="f['clientNumber'].errors?.['pattern']">Client Number must be a number.</small>
                    </div>
                </div>
                <div class="form-group1 col-3">
                    <label for="clientRegistrationNr">Registration Nr *</label>
                    <input type="text" id="clientRegistrationNr" class="form-control1" placeholder="Registration Number" formControlName="clientRegistrationNr" required
                    [ngClass]="{'input-invalid': f['clientRegistrationNr'].touched && f['clientRegistrationNr'].invalid}">
                    <div *ngIf="f['clientRegistrationNr'].touched && f['clientRegistrationNr'].invalid" class="text-danger">
                        <small *ngIf="f['clientRegistrationNr'].errors?.['required']">Registration Number is required.</small>
                    </div>
                </div> 
            </div>

     <div class="row justify-content-between">
          <div class="col-11"><p style="margin-top: 5px; margin-bottom: 0;padding-bottom: 0;">Geographic Information</p></div>
      </div>   
      <hr style="margin-bottom: 20px; margin-top: 5px;"> 
              
            <div class="row justify-content-between">
                <div class="form-group1 col-3">
                    <label for="addressStreetName">Street Name *</label>
                    <input type="text" id="addressStreetName" class="form-control1" placeholder="Street Name" formControlName="addressStreetName" required
                    [ngClass]="{'input-invalid': f['addressStreetName'].touched && f['addressStreetName'].invalid}">
                    <div *ngIf="f['addressStreetName'].touched && f['addressStreetName'].invalid" class="text-danger">
                        <small *ngIf="f['addressStreetName'].errors?.['required']">Street Name is required.</small>
                    </div>
                </div>
                <div class="form-group1 col-3">
                    <label for="addressStreetNumber">Street Number *</label>
                    <input type="text" id="addressStreetNumber" class="form-control1" placeholder="Street Number" formControlName="addressStreetNumber" required
                    [ngClass]="{'input-invalid': f['addressStreetNumber'].touched && f['addressStreetNumber'].invalid}">
                    <div *ngIf="f['addressStreetNumber'].touched && f['addressStreetNumber'].invalid" class="text-danger">
                        <small *ngIf="f['addressStreetNumber'].errors?.['required']">Street Number is required.</small>
                        <small *ngIf="f['addressStreetNumber'].errors?.['pattern']">Street Number must be a number.</small>
                    </div>
                </div> 
                <div class="form-group1 col-3">
                    <label for="postalCode">Postal Code *</label>
                    <input type="text" id="postalCode" class="form-control1" placeholder="Postal Code" formControlName="postalCode" required
                    [ngClass]="{'input-invalid': f['postalCode'].touched && f['postalCode'].invalid}">
                    <div *ngIf="f['postalCode'].touched && f['postalCode'].invalid" class="text-danger">
                        <small *ngIf="f['postalCode'].errors?.['required']">Postal Code is required.</small>
                        <small *ngIf="f['postalCode'].errors?.['pattern']">Postal Code must be a number.</small>
                    </div>
                </div>
                <div class="form-group1 col-3">
                    <label for="city">City *</label>
                    <select id="city" class="form-control1" formControlName="cityId" [ngClass]="{'input-invalid': f['cityId'].touched && f['cityId'].invalid}" >
                        <option value="" disabled selected>Select a city</option>
                        <option *ngFor="let city of cities" [value]="city.cityId">{{ city.cityName }}</option>
                    </select>
                    <div *ngIf="f['cityId'].touched && f['cityId'].invalid" class="text-danger">
                        <small *ngIf="f['cityId'].errors?.['required']">City is required.</small>
                    </div>
                </div>
            </div> 
                            

        <div class="d-flex justify-content-center mt-4">                    
            <button type="submit" class="btn1 btn-primary1" style="margin-right: 10px;">Submit</button>   
            <button type="button" class="btn1 btn-cancel1" (click)="confirmCancel()">Cancel</button>
        </div>

    </form>
    
    
  </div>