<div class="container1">
  <box-icon name="arrow-back" color="#001844" (click)="cancelEditStatus()" >Back</box-icon>
  <h2>Status</h2>
  <div class="subheader1">
    <h3>Update Status...</h3>
  </div>
  <hr style="margin-bottom: 25px;">
  <form [formGroup]="editStatusForm" (ngSubmit)="confirmUpdate()">
      <div class="form-group1">
        <label for="editStatusName">Status Name *</label>
        <input
          type="text"
          id="editStatusName"
          class="form-control1"
          formControlName="statusName"
          placeholder="Status Name"
          required
          [ngClass]="{
            'input-invalid':
              editF['statusName'].touched && editF['statusName'].invalid
          }"
        />
        <div
          *ngIf="editF['statusName'].touched && editF['statusName'].invalid"
          class="text-danger"
        >
          <small
            *ngIf="editF['statusName'].errors?.['required']"
            style="color: rgb(163, 58, 58)"
            >Status Name is required.</small
          >
        </div>
      </div>
      <div class="form-group1">
        <label for="editStatusDescription">Status Description *</label>
        <input
          type="text"
          id="editStatusDescription"
          class="form-control1"
          formControlName="statusDescription"
          placeholder="Status Description"
          required
          [ngClass]="{
            'input-invalid':
              editF['statusDescription'].touched &&
              editF['statusDescription'].invalid
          }"
        />
        <div
          *ngIf="
            editF['statusDescription'].touched &&
            editF['statusDescription'].invalid
          "
          class="text-danger"
        >
          <small
            *ngIf="editF['statusDescription'].errors?.['required']"
            style="color: rgb(163, 58, 58)"
            >Status Description is required.</small
          >
        </div>
      </div>
      <div class="form-group1">
        <label for="editStatusTypeId">Status Type *</label>
        <select
          id="editStatusTypeId"
          class="form-control1"
          formControlName="statusTypeId"
          [ngClass]="{
            'input-invalid':
              editF['statusTypeId'].touched && editF['statusTypeId'].invalid
          }"
        >
          <option value="" disabled selected>Select Status Type</option>
          <option *ngFor="let type of statusTypes" [value]="type.statusTypeId">
            {{ type.statusTypeName }}
          </option>
        </select>
        <div
          *ngIf="editF['statusTypeId'].touched && editF['statusTypeId'].invalid"
          class="text-danger"
        >
          <small
            *ngIf="editF['statusTypeId'].errors?.['required']"
            style="color: rgb(163, 58, 58)"
            >Status Type is required.</small
          >
        </div>
      </div>
      <div class="form-group1">
        <label for="editProjectId">Project *</label>
        <select
          id="editProjectId"
          class="form-control1"
          formControlName="projectId"
          [ngClass]="{
            'input-invalid':
              editF['projectId'].touched && editF['projectId'].invalid
          }"
        >
          <option value="" disabled selected>Select Project</option>
          <option *ngFor="let project of projects" [value]="project.projectId">
            {{ project.projectName }}
          </option>
        </select>
        <div
          *ngIf="editF['projectId'].touched && editF['projectId'].invalid"
          class="text-danger"
        >
          <small
            *ngIf="editF['projectId'].errors?.['required']"
            style="color: rgb(163, 58, 58)"
            >Project is required.</small
          >
        </div>
      </div>

    <div class="d-flex justify-content-center mt-4">                    
      <button type="submit" class="btn1 btn-primary1" style="margin-right: 10px">
        Update
      </button>
      <button type="button" class="btn1 btn-cancel1" (click)="cancel()">
        Cancel
      </button>
  </div>

  </form>
</div>
