<div class="container1">
  <h2>System</h2>
</div>

<div class="container1">
  <div class="row">
    <div class="col">
      <h2><b>Statuses</b></h2>
    </div>
    <div class="col text-end">
      <box-icon
        class="chevron-icon"
        name="chevron-down"
        [@rotateChevron]="showStatusTable"
        (click)="toggleShowStatusTable()"
      ></box-icon>
    </div>
  </div>
  <div *ngIf="showStatusTable" [@toggleTable]>
    <div class="subheader1">
      <div class="row">
        <div class="col"><h3>List of Statuses</h3></div>
        <div class="col text-end">
          <button
            class="btn1 btn-primary1"
            (click)="router.navigate(['/add-status'])"
            *ngIf="hasPermission(Permissions.canManageStatusesTags)"
          >
            Add New Status +
          </button>
        </div>
      </div>
    </div>
    <hr />
    <div class="row justify-content-between mb-0 mt-0">
      <div class="col-12">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search Statuses..."
            (input)="onStatusSearch($event)"
          />
          <div class="input-group-append">
            <span class="input-group-text"
              ><box-icon name="search"></box-icon
            ></span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="filteredStatuses.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
      <b>No results found!</b>
    </div>
    <table *ngIf="filteredStatuses.length > 0" class="content-table mt-2">
      <thead>
        <tr>
          <th>Status Name</th>
          <th>Status Type</th>
          <th>Status Description</th>
          <th>Project</th>
          <th width="8%" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let status of filteredStatuses
              | paginate
                : {
                    id: 'status-pagination',
                    itemsPerPage: 5,
                    currentPage: currentPage
                  }
          "
        >
          <td>{{ status.statusName }}</td>
          <td>{{ getStatusTypeName(status.statusTypeId) }}</td>
          <td>{{ status.statusDescription }}</td>
          <td>{{ getProjectName(status.projectId) }}</td>
          <td class="text-center">
            <box-icon
              name="edit"
              color="#001844"
              *ngIf="hasPermission(Permissions.canManageStatusesTags)"
              (click)="invokeUpdateStatus(status); hideTooltip('update-status-icon')" id="update-status-icon"
              data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Update Status"
            ></box-icon>
            <box-icon
              name="trash"
              color="#ef0000"
              *ngIf="hasPermission(Permissions.SystemAdministrator)"
              (click)="confirmDeleteStatus(status.statusId); hideTooltip('delete-status-icon')" id="delete-status-icon"
              data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete Status"
            ></box-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      *ngIf="filteredStatuses.length > 0"
      id="status-pagination"
      (pageChange)="currentPage = $event"
      class="text-end"
    ></pagination-controls>
  </div>
  <br />
</div>

<!-- **************************** TAGS CONTAINER ******************************-->
<div class="container1">
  <div *ngIf="showEditTag">
    <h2><b>Edit Tag</b></h2>
    <hr />
  </div>

  <div class="row">
    <div class="col">
      <h2><b>Tags</b></h2>
    </div>
    <div class="col text-end">
      <box-icon
        class="chevron-icon"
        name="chevron-down"
        [@rotateChevron]="showTagTable"
        (click)="toggleShowTagTable()"
      ></box-icon>
    </div>
  </div>
  <div *ngIf="showTagTable" [@toggleTable]>
    <div class="subheader1">
      <div class="row">
        <div class="col"><h3>List of Tags</h3></div>
        <div class="col text-end">
          <button
            class="btn1 btn-primary1"
            *ngIf="hasPermission(Permissions.canManageStatusesTags)"
            (click)="router.navigate(['/add-tag'])"
          >
            Add New Tag +
          </button>
        </div>
      </div>
    </div>
    <hr />
    <div class="row justify-content-between mb-0 mt-0">
      <div class="col-12">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search Tags..."
            (input)="onTagSearch($event)"
          />
          <div class="input-group-append">
            <span class="input-group-text"
              ><box-icon name="search"></box-icon
            ></span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="paginatedTags.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
      <b>No results found!</b>
    </div>
    <table *ngIf="paginatedTags.length > 0" class="content-table mt-2">
      <thead>
        <tr>
          <th>Tag Name</th>
          <th>Tag Type</th>
          <th>Tag Description</th>
          <th width="8%" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let tag of paginatedTags
              | paginate
                : {
                    
                    itemsPerPage: 5,
                    currentPage: currentTagPage
                  }
          "
        >
          <td>{{ tag.tagName }}</td>
          <td>{{ getTagTypeName(tag.tagTypeId) }}</td>
          <td>{{ tag.tagDescription }}</td>
          <td class="text-center">
            <box-icon
              name="edit"
              color="#001844"
              *ngIf="hasPermission(Permissions.canManageStatusesTags)"
              (click)="invokeUpdateTag(tag); hideTooltip('update-tag-icon')" id="update-tag-icon"
              data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Update Tag"
            ></box-icon>
            <box-icon
              name="trash"
              color="#ef0000"
              *ngIf="hasPermission(Permissions.SystemAdministrator)"
              (click)="confirmDeleteTag(tag.tagId); hideTooltip('delete-tag-icon')" id="delete-tag-icon"
              data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete Tag"
            ></box-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <!--
    <pagination-controls
      *ngIf="paginatedTags.length > 0"
      (pageChange)="currentTagPage = $event && (currentPage = 1)"
      class="text-end"
    ></pagination-controls>
-->
    <pagination-controls
      *ngIf="paginatedTags.length > 0"
      (pageChange)="currentTagPage = $event"
      class="text-end"
    ></pagination-controls>
  </div>
</div>
<br /><br />
