<div class="parent1">
    <!-- <div class="container" id="container"> -->
        <div class="form-container sign-in-container">
            <form action="#">
                <h1 >REGISTER</h1>
                <span>Are you an employee or client representative?</span>
                <h2></h2>
                <h2></h2>
                <h3>Select an option below:</h3>
                <div>
                    <label>
                        Employee of EPI-USE <input type="radio" formControlName="selectedOption" value="option1" />
                    </label>
                </div>
                <div>
                    <label>
                        Client Representative  <input type="radio" formControlName="selectedOption" value="option2" />
                    </label>
                  </div>
                  <h2></h2>
                  <div style="height: fit-content;">
                    <img src="assets/company-logo.png" style="size:inherit;">
                </div>
                <h2></h2>
                <h2></h2>
                <button type="button" class="button" (click)="goSubmit()">Submit</button>
            </form>
        </div>
        <div class="overlay-container">
                <!-- <div class="overlay-panel overlay-right"> -->
                    <img src="assets/login.jpeg" style="width: 100%; height: 100%;">
            </div>
    <!-- </div> -->
    </div>

