<div class="container1 team-member">
  <box-icon name="arrow-back" color="#001844" (click)="goBack(); hideTooltip('go-back-icon')" id="go-back-icon"
  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Go Back">Back</box-icon>
  <h2>Manage Team</h2>
  <h2 class="team-title">{{team?.teamName}}</h2>
  <!-- <hr style="margin-bottom: 10px" /> -->


    <div class="card text-center mb-2">
      <div class="card-body">
        <p class="card-text mb-1">
          <span class="bold-text">Team Description: <br> </span>{{ team?.teamDescription }}
        </p>
        <p class="card-text mb-1">
          <span class="bold-text">Date Formed: </span>{{ team?.creationDate | date}}
        </p>
      </div>
      <div class="card-footer text-body-secondary">
        <box-icon *ngIf="hasPermission(Permissions.canManageTeams)" name="edit" color="#001844" (click)="editTeam(team?.teamId); hideTooltip('update-icon')" id="update-icon"
        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Update Team"></box-icon>
        <box-icon *ngIf="hasPermission(Permissions.SystemAdministrator)" name="trash" color="#ef0000" (click)="confirmDelete(team?.teamId); hideTooltip('delete-icon')" id="delete-icon"
        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete Team"></box-icon>
      </div>
    </div>

  <div class="mt-3" *ngIf="!isAddingTeamMembers" [@fadeInOut]>  
    <div class="row">
      <div class="col">
        <h3>Team Members<span *ngIf="teamMembers.length > 0">: {{ teamMembers.length }}</span></h3>
      </div>
      <div *ngIf="canAddMember === true" class="col text-end">
        <button *ngIf="hasPermission(Permissions.SystemAdministrator)" class="btn1 btn-primary1"  (click)="showAddMemberSection()">
          Add Team Member +
        </button>
      </div>    
    </div>
    <p-messages *ngIf="!canAddMember" 
        [(value)]="maxTeamMessages" 
        [escape]="false" [closable]="false" 
        showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
        </p-messages>
    <hr style="margin-bottom: 10px" />

    <div *ngIf="teamMembers.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
      <b>No Team Members assigned!</b>
    </div>

    <div *ngIf="teamMembers.length > 0">
      <table class="content-tableR mt-2">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Contact Number</th>
            <th>Email Address</th>
            <th class="text-center">Team Lead</th>
            <th width="10%" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of teamMembers | paginate: { itemsPerPage: 10, currentPage: page }">
            <td>{{member.userFirstName}} {{member.userSurname}}</td>
            <td>{{member.userContactNumber}}</td>
            <td>{{member.userEmailAddress}}</td>
            <td class="text-center">
                <!-- Show Dropdown if canAddTeamLead is true and user has SystemAdministrator permission -->
                <ng-container *ngIf="canAddTeamLead && hasPermission(Permissions.SystemAdministrator); else teamLeadText">
                  <select class="form-control1 w-25" [ngModel]="member.isTeamLead" (ngModelChange)="onIsTeamLeadChange(member, $event)">
                    <option [value]="true">Yes</option>
                    <option [value]="false">No</option>
                  </select>
                </ng-container>      
                <!-- Show "Yes" or "No" if canAddTeamLead is false or user doesn't have SystemAdministrator permission -->
                <ng-template #teamLeadText>
                  {{ member.isTeamLead ? 'Yes' : 'No' }}
                </ng-template>
            </td>
            <td class="text-center">
              <!-- Show delete icon if user has SystemAdministrator permission -->
              <ng-container *ngIf="hasPermission(Permissions.SystemAdministrator); else noAction">
                <box-icon name="trash" color="#ef0000" (click)="confirmRemoveMember(team?.teamId!, member.userId); hideTooltip('delete-icon')" 
                          id="delete-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Remove Team Member">
                </box-icon>
              </ng-container>

              <!-- Show "-" if user doesn't have SystemAdministrator permission -->
              <ng-template #noAction> - </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls *ngIf="teamMembers.length > 0" (pageChange)="page = $event" class="text-end"></pagination-controls>
    </div>
  </div>

  <div class="mt-3" *ngIf="isAddingTeamMembers" [@fadeInOut]>
    <div class="border border-secondary rounded mt-2" style="padding: 15px;">
      <h3 class="text-center">Available New Members</h3>
      <div class="row">
        <p-messages  
          [(value)]="messages" 
          [escape]="false" [closable]="false" 
          showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
        </p-messages>
        <div class="col-12">
        <hr style="margin-bottom: 10px" />
      <div *ngIf="users.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
        <b>No available members to add</b>
      </div>
        <table *ngIf="users.length > 0" class="content-tableR mt-2">
          <thead>
            <tr>
              <th>Name</th>
              <th>Contact Number</th>
              <th width="30%">Email Address</th>
              <th width="15%" class="text-center">Is Team Lead</th>
              <th width="10%" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: page }" [class.selected]="isSelected(user.userId)" >
              <td>{{ user.userFirstName }} {{ user.userSurname }}</td>
              <td>{{ user.userContactNumber }}</td>
              <td>{{ user.userEmailAddress }}</td>
              <td class="text-center">
                <input type="checkbox" (change)="toggleIsTeamLead(user.userId)" [checked]="isTeamLead(user.userId)">
              </td>
              <td class="text-center">
                <box-icon name='plus' *ngIf="!isSelected(user.userId)" color='#001844' (click)="addSelectedUser(user); hideTooltip('add-user-icon')" id="add-user-icon"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add User"></box-icon>
                <box-icon name='minus' *ngIf="isSelected(user.userId)" color='#001844' (click)="removeSelectedUser(user.userId); hideTooltip('remove-user-icon')" id="remove-user-icon"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Remove user"></box-icon>
                <!-- <button class="btn btn-primary btn-sm" (click)="addSelectedUser(user)">Add</button> -->
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        
      </div>
      <div class="d-flex justify-content-center">
        <button *ngIf="hasSelectedUsers()" class="btn1 btn-primary1"style="margin-right:10px" (click)="confirmAddTeamMembers()">Submit</button>
        <button type="button" class="btn1 btn-cancel1 me-2" (click)="confirmCancelAddingMembers()">Cancel</button>
      </div>
      
      
    </div>
    </div>
    
</div>

