
<div class="container1">
    <h2>Test Scripts</h2>
    <div class="subheader1">  
      <div class="row">
        <div class="col"><h3>List of Archived Test Scripts</h3></div>
       <!-- <div class="col text-end"><button (click)="openModal()" class="btn1 btn-primary1">Create New Test Script +</button></div> -->
      </div>
      <hr style="margin-bottom: 10px;"> 
      <div *ngIf="testScripts" class="content-table mt-3" style="padding: 10px;">
        <div class="row center mt-4">
          <div class="col-12">
            <div class="input-group">
              <input type="text" placeholder="Search by process, test or description" [(ngModel)]="searchQuery" (input)="onSearch()" class="form-control">
              <div class="input-group-append">
                <span class="input-group-text"><box-icon name='search'></box-icon></span>
              </div>
            </div>
            <p></p>
            <button class ="btn btn-secondary form-control1" (click)="viewArchived()">Go back to projects</button>
          </div>
        </div>
        <table class="content-table">
        <thead>
          <tr>
            <th style="width:20%">Process</th>
            <th style="width:20%">Test</th>
            <th style="width:20%">Description</th>
            <th style="width:20%">Version</th>
            <th style="width:20%">Last Reviewed</th>
            <th style="width:20%; text-align: center;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ts of filteredTestScripts">
            <td>{{ ts.process }}</td>
            <td>{{ ts.test }}</td>
            <td>{{ ts.testScriptDescription }}</td>
            <td>{{ ts.version }}</td>
            <td>{{ getFormattedDate(ts.dateReviewed) }}</td>
            <td style="text-align: center;">
              <box-icon name='show' color='#001844' [routerLink]="['/testscript-update', ts.testScriptId]"></box-icon>
          </td>
          </tr>
        </tbody>
      </table>
    </div>    
  </div>


