<div class="container1">
  <h2>Notifications</h2>
  <div class="subheader1">
    <div class="row">
      <div class="col"><h3>List of Notifications</h3></div>
      <div class="col text-end">
        <button class="btn1 btn-primary1 send-notification-button" (click)="toggleModal(false)">Send Notification</button>
      </div>
    </div>
  </div>
  <hr style="margin-bottom: 10px;">
  <div class="row justify-content-between mb-0 mt-0">
    <div class="col-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search notifications by title or message or sender name or sender surname..." [(ngModel)]="searchNotificationByUserQuery" (input)="searchNotificationsByUser()">
        <div class="input-group-append">
          <span class="input-group-text"><box-icon name='search'></box-icon></span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="notifications.length === 0" class="text-center mt-3">Zero notifications</div>
  <table class="content-table mt-2" *ngIf="notifications.length > 0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Message</th>
        <th>Notification Date</th>
        <th>From</th> 
        <th width="8%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notifications" [ngClass]="{'unread': !notification.isOpened}">
        <td>{{ notification.notificationTitle }}</td>
        <td class="message-cell">
          {{ notification.message.length > 30 ? (notification.message | slice:0:30) + '...' : notification.message }}
        </td>
        <td>{{ notification.notificationDate | date:'short' }}</td>
        <td>{{ notification.senderName }} {{ notification.senderSurname }}</td>
        <td>        
          <box-icon name='show' color='#001844' (click)="viewNotification(notification); hideTooltip('view-notification-icon')" id="view-notification-icon"
          data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="View Notification"></box-icon>    
          <box-icon name='trash' color='#ef0000' (click)="confirmAndRemoveNotification(notification.notificationId); hideTooltip('remove-notification-icon')" id="remove-notification-icon"
          data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Remove Notification"></box-icon>

        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="viewModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="toggleViewModal()">&times;</span>
      <h2>Notification Details</h2>
      <div>
        <p><strong>From:</strong> {{ selectedNotification?.senderName }} {{ selectedNotification?.senderSurname }}  </p>
        <p><strong>Title:</strong> {{ selectedNotification?.notificationTitle }}</p>
        <p><strong>Message:</strong> {{ selectedNotification?.message }}</p>
        <p><strong>Date:</strong> {{ selectedNotification?.notificationDate | date:'short' }}</p>
      </div>
      
      <button type="button" class="btn1 btn-primary1" (click)="toggleViewModal()">Close</button>
    </div>
  </div>

  <div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="toggleModal()">&times;</span>
      <h2>{{ isUpdate ? 'Update' : 'Send' }} Notification</h2>
      <form (ngSubmit)="sendNotification()">
        <div class="form-group1" *ngIf="!isUpdate">
          <label for="search" class="form-label">Search User by First Name:</label>
          <input type="text" id="search" class="form-control1" [(ngModel)]="searchQuery" name="searchQuery" (input)="searchUsers()" placeholder="Search User by First Name"/>
        </div>

        <div *ngIf="users.length > 0 && !isUpdate" class="form-group1">
          <ul>
            <li *ngFor="let user of users" (click)="selectUser(user)" [ngClass]="{'selected': user.id === selectedUserId}">
              {{ user.userFirstName }} {{ user.userSurname }}
            </li>
          </ul>
        </div>

        <div class="form-group1">
          <label for="title" class="form-label">Title:</label>
          <input class="form-control1" [(ngModel)]="notificationTitle" name="title" required minlength="20" placeholder="Enter title name...">
          <div *ngIf="notificationTitle.length > 0 && notificationTitle.length < 20" class="error-text">
            Title must be at least 20 characters long.
          </div>
        </div>

        <div class="form-group1">
          <label for="message" class="form-label">Message:</label>
          <textarea class="form-control1" [(ngModel)]="notificationMessage" name="message" required minlength="50" placeholder="Enter message here..."></textarea>
          <div *ngIf="notificationMessage.length > 0 && notificationMessage.length < 50" class="error-text">
            Message must be at least 50 characters long.
          </div>
        </div>
        
        <div class="d-flex justify-content-center mt-4">                    
          <button type="submit" class="btn1 btn-primary1">{{ isUpdate ? 'Update' : 'Send' }}</button> 
          <button type="button" class="btn1 btn-cancel1 ms-2" (click)="toggleModal()">Cancel</button>
        </div>
        
      </form>
    </div>
  </div>
</div>
