<div class="container1">
    <h2>Clients</h2>

    <div class="subheader1">
      <div class="row">
        <div class="col"><h3>List of Clients</h3></div>
        <div *ngIf="hasPermission(Permissions.canManageClients)" class="col text-end"><button class="btn1 btn-primary1" (click)="router.navigate(['/add-client'])">Add New Client +</button></div>
      </div>
    </div>

    <hr style="margin-bottom: 15px;"> 

    <div class="date-filter border border-secondary rounded" style="padding: 15px;">
      <h5>Apply Filters:</h5>
      <hr>
      <div class="row">
        <div class="col form-group1">
          <label for="country">Filter by Country:</label>
          <select id="country" [(ngModel)]="selectedCountryId" class="form-control1" (change)="onCountryChange($event)">
            <option value="" disabled selected>Filter by Country</option>
            <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}</option>
          </select>
        </div>
        <div class="col form-group1">
          <label for="region">Filter by Region:</label>
          <select id="region" [(ngModel)]="selectedRegionId" class="form-control1" (change)="onRegionChange($event)" [disabled]="!selectedCountryId">
            <option value="" disabled selected>Filter by Region</option>
            <option *ngFor="let region of regions" [value]="region.regionId">{{ region.regionName }}</option>
          </select>
        </div>
        <div class="col form-group1">
          <label for="city">Filter by City:</label>
          <select id="city" [(ngModel)]="selectedCityId" class="form-control1" (change)="onCityChange($event)" [disabled]="!selectedRegionId">
            <option value="" disabled selected>Filter by City</option>
            <option *ngFor="let city of cities" [value]="city.cityId">{{ city.cityName }}</option>
          </select>
        </div>
        <div class="col form-group1">
          <label for="filterRange" style="padding: 12px;"></label>
          <input type="button" (click)="clearFilters()" class="btn btn-secondary form-control1" value="Clear Filters" style="width: 180px;">
        </div>
      </div>
    </div>

    <div class="row justify-content-between mb-0 mt-3">
      <div class="col-12">
        <div class="input-group">
          <input 
            type="text"
            class="form-control"
            placeholder="Search Clients by Name, Email and Number..."
            [(ngModel)]="searchTerm" 
            (input)="onSearch($event)">
          <div class="input-group-append">
            <span class="input-group-text"><box-icon name='search'></box-icon></span>
          </div>
          <box-icon *ngIf="searchTerm" name='x-circle' class="clear-search-icon" (click)="clearSearch()"></box-icon>
        </div>
      </div>
    </div>

    <div *ngIf="filteredClients.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
      <b>No results found!</b>
    </div>
    <table *ngIf="filteredClients.length > 0" class="content-table">
      <thead>
        <tr>
          <th width="20%">Client Name</th>
          <th width="30%">Client Email</th>
          <th width="15%">Client Number</th>
          <th width="25%">Client Location</th>
          <th width="10%" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of filteredClients | paginate: { itemsPerPage: 10, currentPage: page }">
          <td data-label="Client Name">{{ client.clientName }}</td>
          <td data-label="Client Email">{{ client.clientEmail }}</td>
          <td data-label="Client Number">{{ client.clientNumber }}</td>
          <td data-label="Client Location">{{ client.cityName }}, {{ client.country }}</td>
          <td data-label="Actions" class="text-center">
            <span *ngIf="!hasPermission(Permissions.canViewClients)"> - </span>
            <box-icon *ngIf="hasPermission(Permissions.canViewClients)" name='show' color='#001844' (click)="viewClient(client.clientId)"></box-icon>
            <!-- <box-icon name="show" color="#001844" (click)="viewClient(client.clientId); hideTooltip('view-icon')" id="view-icon"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="View Client"></box-icon> -->
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls *ngIf="filteredClients.length > 0" (pageChange)="page = $event" class="text-end"></pagination-controls>
  </div>      