<div class="container1 teams-container">
  <h2 *ngIf="hasPermission(Permissions.SystemAdministrator)">Teams</h2>
  <h2 *ngIf="!hasPermission(Permissions.SystemAdministrator)">My Teams</h2>
    <div class="subheader1">
      <div class="row">
        <div class="col"><h3>List of Teams</h3></div>
        <div *ngIf="hasPermission(Permissions.canManageTeams)" class="col text-end"><button class="btn1 btn-primary1" (click)="router.navigate(['/add-team'])"  >Add New Team +</button></div>
      </div>
    </div>
    <hr style="margin-bottom: 10px;"> 

    <div class="date-filter border border-secondary rounded" style="padding: 15px;">
      <h5>Apply Filters:</h5>
      <hr>
      <div class="row">
        <div class="col-3 form-group1">
          <label for="minDate">Filter From Date:</label>
          <input type="date" id="minDate" [(ngModel)]="minDate" class="form-control1" (change)="applyDateFilter()">
        </div>
        <div class="col-3 form-group1">
          <label for="maxDate">Filter To Date:</label>
          <input type="date" id="maxDate" [(ngModel)]="maxDate" class="form-control1" (change)="applyDateFilter()">
        </div>
        <div class="col form-group1">
          <label for="filterRange" style="padding: 12px;"></label>
          <input type="button" (click)="clearDateFilters()" class="btn btn-secondary form-control1" value="Clear Filters" style="width: 180px;">
        </div>
      </div>
      <div *ngIf="dateValidationError" class="text-danger mt-0">
        <small>Invalid date range: "To Date" must be grater than or equal to "From Date".</small>
      </div>
    </div>


    <div class="row justify-content-between mb-0 mt-3">
      <div class="col-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Teams..."
          [(ngModel)]="searchTerm" (input)="onSearch($event)">
          <div class="input-group-append">
            <span class="input-group-text"><box-icon name='search'></box-icon></span>
          </div>
          <box-icon *ngIf="searchTerm" name='x-circle' class="clear-search-icon" (click)="clearSearch()"></box-icon>
        </div>
      </div>
    </div> 
    <div *ngIf="filteredTeams.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
      <b>No results found!</b>
    </div>
      <table *ngIf="filteredTeams.length > 0" class="content-table">
        <thead>
          <tr>
            <th>Team Name</th>
            <th>Team Description</th>
            <th>Creation Date</th>
            <th *ngIf="hasPermission(Permissions.canViewTeams)" width="8%">Actions</th>
            <th *ngIf="!hasPermission(Permissions.canViewTeams)" width="8%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of filteredTeams | paginate: { itemsPerPage: 10, currentPage: page }" class="dropdown-row">
            <td>{{ team.teamName }}</td>
            <td>{{ team.teamDescription }}</td>
            <td>{{ team.creationDate | date }}</td>
            <td *ngIf="hasPermission(Permissions.canViewTeams)">
              <box-icon name='show' color='#001844' (click)="manageTeam(team.teamId)"></box-icon>
            </td>
            <td *ngIf="!hasPermission(Permissions.canViewTeams)">
              
            </td>
          </tr>
        </tbody>
      </table>      
      <pagination-controls *ngIf="filteredTeams.length > 0" (pageChange)="page = $event" class="text-end"></pagination-controls>   
  </div>