<header class="main-header">
  <!-- <img src="assets/company-logo.png" alt="Company Logo" class="company-logo"> -->
  <img src="assets/NewLogoWithoutSlogan.png" alt="Company Logo" class="company-logo">
  <div class="user-profile" *ngIf="user$ | async as user">
    <img src="assets/ProfileImage.png" alt="User Profile Picture" class="profile-pic">
    <div class="user-info">
      <span class="user-name">{{ user.firstName }} {{ user.surname }} <span *ngIf="hasPermission(Permissions.SystemAdministrator)">(Administrator)</span></span>
      <a (click)="viewProfile()" class="view-profile" style="cursor: pointer;">View Profile</a>
    </div>
  </div>
</header>
