<div class="container1">
    <h2>System</h2>
    <div class="subheader1">
      <div class="row">
        <div class="col"><h3>Backup Management</h3></div>
      </div>
    </div>
    <hr style="margin-bottom: 35px;"> 
    <fieldset class="custom-fieldset w-75 mb-3">
        <legend>Backup & Restore</legend>
        <hr style="margin-bottom: 35px;"> 
        <div class="form-group1 mb-4">
          <button type="button" class="btn1 btn-cancel1 w-100"  (click)="confirmCreateBackup()">
            <box-icon class="pt-2" name='data' color="white"></box-icon> Trigger Database Backup
          </button>
        </div>
        <form [formGroup]="backupForm" (ngSubmit)="confirmRestoreBackup()">
          <div class="form-group1 mb-4">
            <label for="backupName">Select Backup File to Restore</label>
            <select id="backupName" class="form-control1" formControlName="selectedBackup" (blur)="markTouched('selectedBackup')">
              <option value="" disabled selected>Select a backup</option>
              <option *ngFor="let backup of backupFiles" [value]="backup">{{ backup }}</option>
            </select>
            <div *ngIf="backupForm.controls['selectedBackup'].touched && backupForm.controls['selectedBackup'].invalid" class="text-danger mt-2">
              Please select a backup file to restore.
            </div>
          </div>
          <div class="form-group1 mb-4">
          <label >Click to Restore Selected Backup File</label>
            <button type="submit" class="btn1 btn-primary1 w-100"  [disabled]="backupForm.invalid">
              <box-icon class="pt-2" name='refresh' color="white"></box-icon>Restore Database Backup
            </button>
          </div>
        </form>      
     </fieldset>
</div>
