.custom-fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto 0;
    width: 75%;
  }
  
  .custom-fieldset legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .w-75 {
    width: 75%;
    margin: 0 auto;
  }
  