<div class="container1">
  <div class="row">
    <div class="col-md-6">
      <box-icon name="arrow-back" color="#001844" (click)="goBack()"
        >Back</box-icon
      >
    </div>
  </div>
    <h2>Registration Requests</h2>
    <div class="subheader1">
      <div class="row">
          <div class="col"><h3>List of Users</h3></div>
      </div>
      <hr style="margin-bottom: 15px;"> 
      <div *ngIf="users.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
        <b>No results found!</b>
      </div>
      <table *ngIf="users.length> 0" class="content-table" style=" align-self: center;">
        <thead>
          <tr>
            <th width="10%">Name</th>
            <th width="10%">Surname</th>
            <th width="15%">ID Number</th>
            <th width="15%">Contact Number</th>
            <th width="20%">Email Address</th>
            <th width="15%" class="text-center">Approve</th>
            <th width="15%" class="text-center">Reject</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let user of users | paginate: { itemsPerPage: 10, currentPage: page }" >
            <td>{{user.userFirstName}}</td>
            <td>{{user.userSurname}}</td>
            <td>{{user.userIDNumber}}</td>
            <td>{{user.userContactNumber}}</td>
            <td>{{user.userEmailAddress}}</td>            
            <td class="back text-center" (click)="approveRequest(user)"><i class='bx bxs-user-check'></i></td>
            <td class="back text-center" (click)="rejectRequest(user)"><i class='bx bxs-user-x'></i></td>  
          </tr>
        </tbody>
      </table>
      <pagination-controls *ngIf="users.length > 0" (pageChange)="page = $event" class="text-end"></pagination-controls>

      <span></span>
        <p></p>
      <!-- <button (click)="goList()" type="button" class="btn1 btn-primary1" style="font-size: smaller;">Close</button> -->
  
    </div>
    
  </div>