@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}

.sidebar {
  min-height: 100vh;
  width: 250px;
  padding: 6px 14px;
  z-index: 99;
  background-color: #ffffff;
  transition: all .5s ease;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar.closed {
  width: 78px;
}

.sidebar .logo_details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

/* Style the logo image */
.logo_image {
  width: 120px; /* Adjust based on logo size */
  height: auto;
  transition: all 0.5s ease;
  margin-right: 10px; /* Space between the logo and menu icon */
}

/* Hide the image when the sidebar is closed */
.sidebar.closed .logo_image {
  opacity: 0;
  width: 0;
  margin-right: 0; /* Remove the margin to prevent extra space */
  transition: all 0.5s ease;
}


.sidebar .logo_details .icon {
  opacity: 1;
  transition: all 0.5s ease;
}

.sidebar .logo_details .logo_name {
  color: #001844;
  font-size: 20px;
  font-weight: 600;
  opacity: 1;
  transition: all .5s ease;
}

.sidebar.closed .logo_details .icon,
.sidebar.closed .logo_details .logo_name {
  opacity: 0;
}

// .sidebar .logo_details #btn1 {
//   position: absolute;
//   top: 50%;
//   right: 0;
//   transform: translateY(-50%);
//   font-size: 23px;
//   text-align: right;
//   cursor: pointer;
//   transition: all .5s ease;
//   color: #001844;
// }

.sidebar .logo_details #btn1 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
  color: #001844;
}

.sidebar.closed .logo_details #btn1 {
  text-align: center;
  color: #001844;
}


.sidebar i {
  color: #001844;
  height: 100px;
  line-height: 100px;
  min-width: 50px;
  font-size: 35px;
  text-align: center;
}

.sidebar.closed i {
  color: #001844;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: #869ec3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}

.sidebar.closed li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}

.sidebar input {
  font-size: 15px;
  color: #001844;
  font-weight: 400;
  outline: none;
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #869ec3;
  transition: all .5s ease;
  padding: 0 20px 0 50px;
}

.sidebar.closed input {
  width: 35px;
  padding: 0;
}

.sidebar input::placeholder {
  color: #e0e0e0;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background-color: #869ec3;
  color: #001844;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: #ffffff;
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}

.sidebar li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: #001844;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after {
  transform: scaleX(1);
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i {
  color: #ffffff;
}

.sidebar li a .link_name {
  color:#001844;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  opacity: 1;
}

.sidebar.closed li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar li i {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 250px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  overflow: hidden;
  transition: all .5s ease;
}

.sidebar li.profile-user {
  position: fixed;
  height: 60px;
  width: 250px;
  left: 0;
  bottom: 35px;
  padding: 10px 14px;
  overflow: hidden;
  transition: all .5s ease;
  cursor: pointer;
}

.sidebar.closed li.profile {
  width: 78px;
}

.sidebar.closed li.profile-user {
  width: 78px;
}

.sidebar .profile .profile_details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar .profile-user .profile_details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}



.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar.closed li img {
  height: 35px;
  width: 35px;
  margin-right: 0;
}

.sidebar li.profile .name,
.sidebar li.profile .designation {
  font-size: 15px;
  font-weight: 400;
  color: #001844;
  white-space: nowrap;
}

.sidebar.closed li.profile .name,
.sidebar.closed li.profile .designation {
  display: none;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #869ec3;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.closed .profile #log_out {
  width: 50px;
  background: none;
}

.home-section1 {
  position: relative;
  background-color: #cfd1d3;
  min-height: 100vh;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: all .5s ease;
  z-index: 2;
  padding-top: 80px;
}

.sidebar.closed ~ .home-section1 {
  left: 78px;
  width: calc(100% - 78px);
}



.sidebar li a.active {
  color: #001844;
  background-color: #869ec3;
  border-radius: 5px;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li a {
  padding-left: 30px;
  color: #001844;
  background: #ffffff;
  display: block;
  width: calc(100% - 30px + 30px); /* Adjust width to account for padding */
  box-sizing: border-box;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
}

.dropdown ul li a:hover {
  color: #ffffff;
  background-color: #001844;
}

.dropdown ul li a.active {
  color: #001844;
  background-color: #869ec3;
  border-radius: 0px;
}

.dropdown ul li a.active:hover {
  color: #ffffff;
  background-color: #001844;
}

.dropdown .arrow {
  margin-left: auto;
  transition: opacity 0.3s;
}

.float-dropdown .arrow {
  opacity: 0;
}

.sidebar:not(.closed) .dropdown .arrow {
  opacity: 1;
}

.float-dropdown-items {
  position: absolute;
  left: 250px; /* Width of the open sidebar */
  top: 0;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
  width: 250px;
  border-radius: 5px;
  box-sizing: border-box
}

.sidebar.closed .float-dropdown-items {
  left: 78px; /* Width of the closed sidebar */
}

.float-dropdown-items ul {
  display: block;
  position: relative;
}

.float-dropdown-items ul li {
  display: block;
}

.sidebar.closed li:hover .arrow {
  opacity: 1;
}

.tooltip {
  display: none;
}

.sidebar.closed li:hover .tooltip {
  display: block;
  position: absolute;
  left: 78px;
  background-color: #869ec3;
  color: #001844;
  padding: 5px 10px;
  border-radius: 5px;
}
