<div class="sidebar closed">
  <div class="logo_details">
    <!-- <i class="bx bxl-audible icon"></i>
    <div class="logo_name">Test Script Tracker</div> -->
    <!-- <img src="assets/test-script-tracker-logo without slogan-transparent.png" alt="Logo" class="logo_image" /> -->
    <img src="assets/company-logo.png" alt="Logo" class="logo_image" />
    <i class="bx bx-menu" id="btn1"></i>
  </div>
  <ul class="nav-list">
    <li *ngFor="let item of menuItems" [class.active]="isSubItemActive(item) || currentRoute === item.link">
      <ng-container *ngIf="!item.subItems && hasPermission(item.permission)">
        <a routerLink="{{ item.link }}" [class.active]="currentRoute === item.link" (click)="closeSidebarAndDropdowns()">
          <i class="{{ item.icon }}"></i>
          <span class="link_name">{{ item.label }}</span>
        </a>
        <span class="tooltip">{{ item.label }}</span>
      </ng-container>
      <ng-container *ngIf="item.subItems && hasPermission(item.permission)">
        <div class="dropdown" [class.float-dropdown]="isSidebarClosed">
          <a (click)="toggleDropdown(item)">
            <i class="{{ item.icon }}"></i>
            <span class="link_name">{{ item.label }}</span>
            <i *ngIf="!isSidebarClosed" class="bx bx-chevron-down arrow"></i>
          </a>
          <ul *ngIf="item.isOpen" [class.float-dropdown-items]="true">
            <li *ngFor="let subItem of item.subItems">
              <a *ngIf="hasPermission(subItem.permission)" routerLink="{{ subItem.link }}" [class.active]="currentRoute === subItem.link" (click)="closeSidebarAndDropdowns()">{{ subItem.label }}</a>
            </li>
          </ul>
        </div>
        <span class="tooltip">{{ item.label }}</span>
      </ng-container>
    </li>
      <li class="profile">
        <a (click)="onLogout()">
          <i class='bx bx-log-out'></i>
          <span class="link_name">Log Out</span>
        </a>
        <span class="tooltip">Log Out</span>
      </li>
  </ul>
</div>
<section class="home-section1">
  <router-outlet></router-outlet>
</section>








<!-- <div class="sidebar">
    <div class="logo_details">
      <i class="bx bxl-audible icon"></i>
      <div class="logo_name">Test Script Tracker</div>
      <i class="bx bx-menu" id="btn1"></i>
    </div>
    <ul class="nav-list">
      <li *ngFor="let item of menuItems">
        <ng-container *ngIf="hasPermission(item.permission)">
          <a routerLink="{{ item.link }}">
            <i class="{{ item.icon }}"></i>
            <span class="link_name">{{ item.label }}</span>
          </a>
          <span class="tooltip">{{ item.label }}</span>  
        </ng-container>      
      </li>
      <li class="profile">
        <a [routerLink]="['/login2']" (click)="onLogout()">
          <i class='bx bx-log-out'></i>
          <span class="link_name">Log Out</span>
        </a>
        <span class="tooltip">Log Out</span>
      </li>
    </ul>
  </div>
  <section class="home-section1">
    <router-outlet></router-outlet>
  </section> -->
