<div class="access-denied-container">
    <div class="access-denied-content">
      <div class="access-denied-image">
      <svg xmlns="http://www.w3.org/2000/svg" width="655" height="326" viewBox="0 0 655 326" fill="none">
<g filter="url(#filter0_d_1449_48)">
<rect x="289.079" y="73.5293" width="88.4211" height="142.605" rx="44.2105" fill="white" stroke="#3672BD" stroke-width="5"/>
<rect x="304.026" y="86.6074" width="58.5263" height="108.974" rx="29.2632" stroke="#3672BD" stroke-width="5"/>
</g>
<g filter="url(#filter1_ii_1449_48)">
<ellipse cx="333.289" cy="235.45" rx="87.8158" ry="89.6842" fill="white"/>
</g>
<path d="M418.605 235.45C418.605 283.65 380.359 322.634 333.289 322.634C286.22 322.634 247.974 283.65 247.974 235.45C247.974 187.249 286.22 148.266 333.289 148.266C380.359 148.266 418.605 187.249 418.605 235.45Z" stroke="#3672BD" stroke-width="5"/>
<g filter="url(#filter2_di_1449_48)">
<rect x="318.342" y="207.424" width="31.7632" height="56.0526" rx="15.8816" fill="#9BD0FF"/>
<rect x="320.092" y="209.174" width="28.2632" height="52.5526" rx="14.1316" stroke="#3672BD" stroke-width="3.5"/>
</g>
<g filter="url(#filter3_df_1449_48)">
<path d="M402.421 310.179L451 310.179C451 310.179 450.291 301.012 458.474 295.26C465.013 290.663 472.487 291.525 472.487 291.525C472.487 291.525 475.505 275.927 482.763 268.152C490.903 259.433 498.871 255.542 510.79 255.074C520.605 254.689 527.233 257.567 535.079 263.479C541.787 268.533 547.223 278.446 547.223 278.446L537.882 279.378C537.882 279.378 557.5 273.773 571.513 284.984C581.328 292.836 582.723 310.179 582.723 310.179L628.509 310.179" stroke="#DADADA" stroke-width="4.5" shape-rendering="crispEdges"/>
</g>
<g filter="url(#filter4_df_1449_48)">
<path d="M227.195 264.598L178.616 264.644C178.616 264.644 179.334 256.513 171.156 251.42C164.621 247.35 157.147 248.121 157.147 248.121C157.147 248.121 154.143 234.292 146.892 227.404C138.761 219.679 130.797 216.236 118.878 215.832C109.063 215.5 102.432 218.058 94.5813 223.308C87.8686 227.796 82.4229 236.593 82.4229 236.593C82.4229 236.593 83.8452 261.06 82.4229 253.393C81.0006 245.725 89.4085 225.173 66.0532 246.853C56.9073 254.692 58.104 264.767 58.104 264.767L12.3187 264.81" stroke="#DADADA" stroke-width="4.5" shape-rendering="crispEdges"/>
</g>
<g filter="url(#filter5_f_1449_48)">
<path d="M238.934 147.006L193.4 147.016C193.4 147.016 192.223 138.301 183.816 139.236C183.816 139.236 180.198 130.642 176.286 126.927C171.899 122.759 167.603 120.902 161.173 120.684C155.878 120.505 152.301 121.885 148.066 124.717C144.445 127.138 141.507 131.884 141.507 131.884C141.507 131.884 142.274 145.083 141.507 140.947C140.74 136.81 145.276 125.723 132.676 137.419C127.742 141.648 128.388 147.083 128.388 147.083L103.688 147.106" stroke="#EDEDED" stroke-width="4"/>
</g>
<g filter="url(#filter6_f_1449_48)">
<path d="M436.053 200.777L481.587 200.788C481.587 200.788 481.587 187.804 493.974 187.804C493.974 187.804 494.789 184.414 498.701 180.698C503.087 176.531 507.384 174.673 513.813 174.456C519.108 174.276 522.685 175.656 526.921 178.488C530.542 180.91 533.48 185.655 533.48 185.655C533.48 185.655 516.395 187.804 518.263 188.738C520.132 189.673 529.711 179.494 542.311 191.19C547.245 195.419 546.599 200.854 546.599 200.854L588.329 200.854" stroke="#EDEDED" stroke-width="4" stroke-linecap="round"/>
</g>
<g filter="url(#filter7_f_1449_48)">
<path d="M236.132 130.186H260.421" stroke="#EDEDED" stroke-width="4" stroke-linecap="round"/>
</g>
<g filter="url(#filter8_f_1449_48)">
<path d="M260 145H283" stroke="#EDEDED" stroke-width="4" stroke-linecap="round"/>
</g>
<g filter="url(#filter9_f_1449_48)">
<path d="M598 201H612.947" stroke="#EDEDED" stroke-width="4" stroke-linecap="round"/>
</g>
<g filter="url(#filter10_f_1449_48)">
<path d="M637 310H651.947" stroke="#DADADA" stroke-width="4.5" stroke-linecap="round"/>
</g>
<g filter="url(#filter11_f_1449_48)">
<line x1="385.605" y1="309.555" x2="396.816" y2="309.555" stroke="#DADADA" stroke-width="5"/>
</g>
<g filter="url(#filter12_f_1449_48)">
<path d="M234 265H244" stroke="#DADADA" stroke-width="5" stroke-linecap="round"/>
</g>
<g filter="url(#filter13_d_1449_48)">
<path d="M238.934 43L241.71 50.5008L249.211 53.2763L241.71 56.0519L238.934 63.5526L236.159 56.0519L228.658 53.2763L236.159 50.5008L238.934 43Z" fill="#F9E493"/>
</g>
<g filter="url(#filter14_d_1449_48)">
<path d="M98.8027 104.656L100.569 109.429L105.342 111.196L100.569 112.962L98.8027 117.735L97.0364 112.962L92.2632 111.196L97.0364 109.429L98.8027 104.656Z" fill="#F9E493"/>
</g>
<g filter="url(#filter15_d_1449_48)">
<path d="M167.934 175.656L169.701 180.429L174.474 182.196L169.701 183.962L167.934 188.735L166.168 183.962L161.395 182.196L166.168 180.429L167.934 175.656Z" fill="#F9E493"/>
</g>
<g filter="url(#filter16_d_1449_48)">
<path d="M377.197 5.63086L378.964 10.4041L383.737 12.1703L378.964 13.9366L377.197 18.7098L375.431 13.9366L370.658 12.1703L375.431 10.4041L377.197 5.63086Z" fill="#F9E493"/>
</g>
<g filter="url(#filter17_d_1449_48)">
<path d="M420.171 134.553L421.937 139.326L426.711 141.092L421.937 142.858L420.171 147.632L418.405 142.858L413.632 141.092L418.405 139.326L420.171 134.553Z" fill="#F9E493"/>
</g>
<g filter="url(#filter18_d_1449_48)">
<path d="M508.921 211.156L510.435 215.248L514.526 216.762L510.435 218.275L508.921 222.367L507.407 218.275L503.316 216.762L507.407 215.248L508.921 211.156Z" fill="#F9E493"/>
</g>
<path d="M62.3684 179.395L63.3777 182.122L66.1053 183.131L63.3777 184.141L62.3684 186.868L61.3591 184.141L58.6316 183.131L61.3591 182.122L62.3684 179.395Z" fill="#E2E2E0"/>
<defs>
<filter id="filter0_d_1449_48" x="282.579" y="67.0293" width="101.421" height="155.605" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset/>
<feGaussianBlur stdDeviation="2"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.576471 0 0 0 0 0.819608 0 0 0 0 1 0 0 0 1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1449_48"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1449_48" result="shape"/>
</filter>
<filter id="filter1_ii_1449_48" x="242.474" y="145.766" width="181.632" height="179.369" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dx="-16"/>
<feGaussianBlur stdDeviation="1.5"/>
<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.607843 0 0 0 0 0.815686 0 0 0 0 1 0 0 0 1 0"/>
<feBlend mode="normal" in2="shape" result="effect1_innerShadow_1449_48"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dx="6.5"/>
<feGaussianBlur stdDeviation="1.5"/>
<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.627451 0 0 0 0 0.882353 0 0 0 0 1 0 0 0 1 0"/>
<feBlend mode="normal" in2="effect1_innerShadow_1449_48" result="effect2_innerShadow_1449_48"/>
</filter>
<filter id="filter2_di_1449_48" x="314.842" y="202.424" width="41.7632" height="66.0527" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dx="1.5"/>
<feGaussianBlur stdDeviation="2.5"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.607843 0 0 0 0 0.815686 0 0 0 0 1 0 0 0 1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1449_48"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1449_48" result="shape"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset/>
<feGaussianBlur stdDeviation="3"/>
<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.245801 0 0 0 0 0.395757 0 0 0 0 0.75 0 0 0 1 0"/>
<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1449_48"/>
</filter>
<filter id="filter3_df_1449_48" x="390.421" y="247.791" width="240.088" height="73.6387" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dx="-5" dy="2"/>
<feGaussianBlur stdDeviation="3.5"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1449_48"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1449_48" result="shape"/>
<feGaussianBlur stdDeviation="0.25" result="effect2_foregroundBlur_1449_48"/>
</filter>
<filter id="filter4_df_1449_48" x="0.31665" y="208.553" width="228.88" height="67.5078" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dx="-5" dy="2"/>
<feGaussianBlur stdDeviation="3.5"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.07 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1449_48"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1449_48" result="shape"/>
<feGaussianBlur stdDeviation="0.25" result="effect2_foregroundBlur_1449_48"/>
</filter>
<filter id="filter5_f_1449_48" x="103.186" y="118.168" width="136.248" height="31.4375" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="0.25" result="effect1_foregroundBlur_1449_48"/>
</filter>
<filter id="filter6_f_1449_48" x="433.552" y="171.939" width="157.276" height="31.4141" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="0.25" result="effect1_foregroundBlur_1449_48"/>
</filter>
<filter id="filter7_f_1449_48" x="233.632" y="127.686" width="29.2896" height="5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="0.25" result="effect1_foregroundBlur_1449_48"/>
</filter>
<filter id="filter8_f_1449_48" x="257.5" y="142.5" width="28" height="5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="0.25" result="effect1_foregroundBlur_1449_48"/>
</filter>
<filter id="filter9_f_1449_48" x="595.5" y="198.5" width="19.9473" height="5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="0.25" result="effect1_foregroundBlur_1449_48"/>
</filter>
<filter id="filter10_f_1449_48" x="634.25" y="307.25" width="20.4473" height="5.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="0.25" result="effect1_foregroundBlur_1449_48"/>
</filter>
<filter id="filter11_f_1449_48" x="385.105" y="306.555" width="12.2104" height="6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="0.25" result="effect1_foregroundBlur_1449_48"/>
</filter>
<filter id="filter12_f_1449_48" x="231" y="262" width="16" height="6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
<feGaussianBlur stdDeviation="0.25" result="effect1_foregroundBlur_1449_48"/>
</filter>
<filter id="filter13_d_1449_48" x="223.658" y="38" width="30.5527" height="30.5527" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset/>
<feGaussianBlur stdDeviation="2.5"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.977086 0 0 0 0 0.461523 0 0 0 1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1449_48"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1449_48" result="shape"/>
</filter>
<filter id="filter14_d_1449_48" x="87.2632" y="99.6562" width="23.0789" height="23.0781" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset/>
<feGaussianBlur stdDeviation="2.5"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.977086 0 0 0 0 0.461523 0 0 0 1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1449_48"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1449_48" result="shape"/>
</filter>
<filter id="filter15_d_1449_48" x="156.395" y="170.656" width="23.0789" height="23.0781" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset/>
<feGaussianBlur stdDeviation="2.5"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.977086 0 0 0 0 0.461523 0 0 0 1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1449_48"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1449_48" result="shape"/>
</filter>
<filter id="filter16_d_1449_48" x="365.658" y="0.630859" width="23.0789" height="23.0781" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset/>
<feGaussianBlur stdDeviation="2.5"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.977086 0 0 0 0 0.461523 0 0 0 1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1449_48"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1449_48" result="shape"/>
</filter>
<filter id="filter17_d_1449_48" x="408.632" y="129.553" width="23.0789" height="23.0781" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset/>
<feGaussianBlur stdDeviation="2.5"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.977086 0 0 0 0 0.461523 0 0 0 1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1449_48"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1449_48" result="shape"/>
</filter>
<filter id="filter18_d_1449_48" x="498.316" y="206.156" width="21.2104" height="21.2109" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset/>
<feGaussianBlur stdDeviation="2.5"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.977086 0 0 0 0 0.461523 0 0 0 1 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1449_48"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1449_48" result="shape"/>
</filter>
</defs>
</svg>
      </div>
      <h1>403 - Access Denied</h1>
      <p>Oops, you do not have permission to access this page.</p>
      <a [routerLink]="['/dashboard']" class="btn">Return to Dashboard</a>
    </div>
  </div>