<div class="container1">
  <box-icon name="arrow-back" color="#001844" (click)="goBack(); hideTooltip('go-back-icon')"
  id="go-back-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Go Back">Back</box-icon>
  <div class="subheader1">
    <div class="row">
      <div class="col">
        <h2><b>Client Information</b></h2>
      </div>
      <div class="col text-end">
        <box-icon
          class="chevron-icon"
          name="chevron-down"
          [@rotateChevron]="showClientDetails"
          (click)="toggleShowClientDetails()"
        ></box-icon>
      </div>
    </div>
    <h2 class="client-title">{{client?.clientName}}</h2>
    <div class="card text-center" *ngIf="showClientDetails" [@toggleTable]>
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
          <div class="card-body">
            <p class="card-text mb-1">
              <span class="bold-text">Email:</span> {{ client?.clientEmail }}
            </p>
            <p class="card-text mb-1">
              <span class="bold-text">Contact Number:</span>
              {{ client?.clientNumber }}
            </p>
            <p class="card-text mb-1">
              <span class="bold-text">Reg Number:</span>
              {{ client?.clientRegistrationNr }}
            </p>
            <p class="card-text mb-1">
              <span class="bold-text">Address:</span>
              {{ client?.addressStreetName }} {{ client?.addressStreetNumber }},
              {{ client?.postalCode }},<br> {{ client?.cityName }}, {{ client?.region }},
              {{ client?.country }}
            </p>

          </div>
        </div>
          <div *ngIf="hasThemes" class="col-3 d-flex align-items-center justify-content-center">
            <div class="image-container">
                <img *ngIf="client?.logoImage" [src]="client?.logoImage" alt="Client Logo" />
            </div>
        </div>
      </div>
      
      <div class="card-footer text-body-secondary">
        <box-icon *ngIf="hasPermission(Permissions.canManageClients)"
          name="edit"
          color="#001844"
          (click)="updateClient() ; hideTooltip('update-icon')" id="update-icon" 
          data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Update Client"
        ></box-icon>
        
        <box-icon *ngIf="hasPermission(Permissions.SystemAdministrator)"
          name="trash"
          color="#ef0000" 
          (click)="confirmDelete(); hideTooltip('delete-icon')" id="delete-icon" 
          data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete Client"
        ></box-icon>
      </div>
    </div>
    <div class="mt-4" style="padding-top: 20px">
      <div class="row">
        <div class="col">
          <h3>Client Representatives: {{ clientReps.length }}</h3>
        </div>
        <div class="col text-end">
          <button *ngIf="hasPermission(Permissions.canManageClients)" class="btn1 btn-primary1" (click)="addClientRep()">
            Add Client Representative +
          </button>
          <box-icon
            class="chevron-icon"
            name="chevron-down"
            [@rotateChevron]="showClientReps"
            (click)="toggleShowClientReps();"
          ></box-icon>
        </div>
      </div>

      <hr style="margin-bottom: 0px; margin-top: 5px" />
      <div *ngIf="showClientReps" [@toggleTable]>
        <table *ngIf="hasClientReps" class="content-table mt-3">
          <thead>
            <tr>
              <th width="15%">Rep Name</th>
              <th width="25%">Rep Email</th>
              <th width="15%">Rep Number</th>
              <th width="15%">ID Number</th>
              <th width="20%">Client Name</th>
              <th width="10%" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rep of clientReps">
              <td>{{ rep.repName }} {{ rep.repSurname }}</td>
              <td>{{ rep.repEmailAddress }}</td>
              <td>{{ rep.repContactNumber }}</td>
              <td>{{ rep.repIDNumber }}</td>
              <td>{{ client?.clientName }}</td>
              <td class="text-center">
                <box-icon *ngIf="hasPermission(Permissions.canManageClients)"
                  name="edit"
                  color="#001844"
                  (click)="updateClientRep(rep.clientRepId); hideTooltip('update-clientrep-icon')" id="update-clientrep-icon"
                  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Update Client Rep"
                ></box-icon>
                <box-icon *ngIf="hasPermission(Permissions.SystemAdministrator)"
                  name="trash"
                  color="#ef0000"
                  (click)="confirmDeleteClientRep(rep.clientRepId); hideTooltip('remove-clientrep-icon')" id="remove-clientrep-icon"
                  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Remove Client Rep"
                ></box-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="mt-4" style="padding-top: 20px">
      <div class="row">
        <div class="col">
          <h3>Client Projects: {{ projects.length }}</h3>
        </div>
        <div class="col text-end">
          <button *ngIf="hasPermission(Permissions.canManageClients || Permissions.canManageProjects)" class="btn1 btn-primary1" (click)="addClientProject()">
            Add Client Project +
          </button>
          <box-icon
            class="chevron-icon"
            name="chevron-down"
            [@rotateChevron]="showProjects"
            (click)="toggleShowProjects()"
          ></box-icon>
        </div>
      </div>
      <hr style="margin-bottom: 0px; margin-top: 5px" />
      <div *ngIf="showProjects" [@toggleTable]>
        <table *ngIf="hasProjects" class="content-table mt-3">
          <thead>
            <tr>
              <th width="20%">Project Name</th>
              <th width="25%">Start Date</th>
              <th width="15%">End Date</th>
              <th width="30%">Description</th>
              <th width="10%" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projects">
              <td>{{ project.projectName }}</td>
              <td>{{ project.startDate | date }}</td>
              <td>{{ project.endDate | date }}</td>
              <td>{{ project.projectDescription }}</td>
              <td class="text-center">
                <box-icon *ngIf="hasPermission(Permissions.canViewProjects || Permissions.canViewClients)"
                name="show"
                color="#001844"
                (click)="goToProject(project.projectId, project.clientId)"
              ></box-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="mt-4" style="padding-top: 20px">
      <div class="row">
        <div class="col">
          <h3>Client Themes: {{ themes.length }}</h3>
        </div>
        <div class="col text-end" *ngIf="hasPermission(Permissions.canManageClients)">
          <button *ngIf="numThemes < 4" class="btn1 btn-primary1" (click)="addClientTheme()">
            Add Client Theme +
          </button>
          <box-icon
            class="chevron-icon"
            name="chevron-down"
            [@rotateChevron]="showThemes"
            (click)="toggleShowThemes()"
          ></box-icon>
        </div>
      </div>
      <hr style="margin-bottom: 0px; margin-top: 5px" />
      <div *ngIf="showThemes" [@toggleTable]>
        <table *ngIf="hasThemes" class="content-table mt-3">
          <thead>
            <tr>
              <th width="15%" class="text-center">Theme Nr:</th>
              <th width="75%">Theme Name</th>
              <th width="10%" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let theme of themes; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td>{{ theme.themeName }}</td>
              <td class="text-center">
                <box-icon *ngIf="hasPermission(Permissions.canViewClients)"
                  name="show"
                  color="#001844"
                  (click)="viewThemeDetails(theme.themeId!)"
                ></box-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
