<div class="container1">
    <box-icon name="arrow-back" color="#001844" (click)="goBack(); hideTooltip('go-back-icon')" id="go-back-icon"
  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Go Back">Back</box-icon>
    <h2>Clients</h2>
    <div class="subheader1">
        <h3 style="margin-top: 2px; padding-top: 0;">Add Client Representative...</h3>
    </div>
    <div class="row justify-content-between">
        <div class="col-11"><p style="margin-top: 5px; margin-bottom: 0;padding-bottom: 0;">Client Representative Information</p></div>
    </div>
    
    <hr style="margin-bottom: 20px;margin-top: 5px;"> 

    <form [formGroup]="addClientRepForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group1 col-4">
                <label for="repName">Name *</label>
                <input type="text" id="repName" class="form-control1" formControlName="repName" placeholder="Name" required
                [ngClass]="{'input-invalid': f['repName'].touched && f['repName'].invalid}">
                <div *ngIf="f['repName'].touched && f['repName'].invalid" class="text-danger">
                    <small *ngIf="f['repName'].errors?.['required']">Name is required.</small>
                </div>
            </div>
            <div class="form-group1 col-4">
                <label for="repSurname">Surname *</label>
                <input type="text" id="repSurname" class="form-control1" formControlName="repSurname" placeholder="Surname" required
                [ngClass]="{'input-invalid': f['repSurname'].touched && f['repSurname'].invalid}">
                <div *ngIf="f['repSurname'].touched && f['repSurname'].invalid" class="text-danger">
                    <small *ngIf="f['repSurname'].errors?.['required']">Surname is required.</small>
                </div>
            </div>
            <div class="form-group1 col-4">
                <label for="repIDNumber">ID Number *</label>
                <input type="text" id="repIDNumber" class="form-control1" formControlName="repIDNumber" placeholder="ID Number" required
                [ngClass]="{'input-invalid': f['repIDNumber'].touched && f['repIDNumber'].invalid}">
                <div *ngIf="f['repIDNumber'].touched && f['repIDNumber'].invalid" class="text-danger">
                    <small *ngIf="f['repIDNumber'].errors?.['required']">ID Number is required.</small>
                    <small *ngIf="f['repIDNumber'].errors?.['pattern']">ID Number must be a number.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group1 col-4">
                <label for="repContactNumber">Contact Number *</label>
                <input type="text" id="repContactNumber" class="form-control1" formControlName="repContactNumber" placeholder="Contact Number" required
                [ngClass]="{'input-invalid': f['repContactNumber'].touched && f['repContactNumber'].invalid}">
                <div *ngIf="f['repContactNumber'].touched && f['repContactNumber'].invalid" class="text-danger">
                    <small *ngIf="f['repContactNumber'].errors?.['required']">Contact Number is required.</small>
                    <small *ngIf="f['repContactNumber'].errors?.['pattern']">Contact Number must be a number.</small>
                </div>
            </div>
            <div class="form-group1 col-4">
                <label for="repEmailAddress">Email Address *</label>
                <input type="email" id="repEmailAddress" class="form-control1" formControlName="repEmailAddress" placeholder="Email Address" required
                [ngClass]="{'input-invalid': f['repEmailAddress'].touched && f['repEmailAddress'].invalid}">
                <div *ngIf="f['repEmailAddress'].touched && f['repEmailAddress'].invalid" class="text-danger">
                    <small *ngIf="f['repEmailAddress'].errors?.['required']">Email Address is required.</small>
                    <small *ngIf="f['repEmailAddress'].errors?.['email']">Email Address must be a valid email.</small>
                </div>
            </div>             
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn1 btn-primary1">Submit</button>
            <button type="button" class="btn1 btn-cancel1 ms-2" (click)="cancel()">Cancel</button>
        </div>        
    </form>
  </div>