<div class="container1">
  <div>
    <box-icon name="arrow-back" color="#001844" (click)="goBack();"></box-icon>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Project Details</h2>
    </div>
    <div class="col-md-6 text-end">
      <box-icon *ngIf="isTeamLead === true" type='solid' color="#001844" name='circle' (click)="hideTooltip('team-lead-circle')" id="team-lead-circle"
      data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Team Leader"></box-icon>
      <p *ngIf="isTeamLead === true" style="color: green; font-weight: bolder;">(You are the Team Lead!)</p>
    </div>
  </div>
  
  <div class="header-container">
    <h2 class="team-title">{{project?.projectName}}</h2>
    <h2 class="phase-title">{{project?.phaseName}}</h2>
  </div>
  

      <div *ngIf="project">      
        <div class="card text-center">
          <div class="card-body">
            <p class="card-text mb-1">
              <span class="bold-text">Description: <br> </span>{{ project.projectDescription }}
            </p>
            <p class="card-text mb-1">
              <span class="bold-text">Start Date: </span>{{ project.startDate | date }}
            </p>
            <p class="card-text mb-1">
              <span class="bold-text">End Date: </span>{{ project.endDate | date}}
            </p>
            <p class="card-text mb-1">
              <span class="bold-text">Active: </span>{{ project.isActive ? 'Yes' : 'No' }}
            </p>
            <p class="card-text mb-1" *ngIf="project.signedOff === true && project.phaseId === 3">
              <span class="bold-text">Signed Off: </span>{{ project.signedOff ? 'Yes' : 'No' }}
            </p>
            <p *ngIf="project.responsibleClientRep" class="card-text mb-1">
              <span class="bold-text">Responsible Client Representative: </span>{{ project.responsibleClientRep }}
            </p>
          </div>
          <div class="card-footer text-body-secondary">
            <box-icon *ngIf="hasPermission(Permissions.canManageProjects)" name="edit" color="#001844" (click)="editProject(); hideTooltip('update-icon')" id="update-icon"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Update Project"></box-icon>
            <box-icon *ngIf="hasPermission(Permissions.SystemAdministrator)" name="trash" color="#ef0000" (click)="deleteProject(); hideTooltip('delete-icon')" id="delete-icon"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete Project"></box-icon>
            <box-icon *ngIf="project.isActive === false && (isTeamLead === true || hasPermission(Permissions.SystemAdministrator) === true)" name='check-circle' color="#001844" (click)="activateProject(); hideTooltip('activate-icon') " 
            id="activate-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Activate Project"></box-icon>
            <box-icon *ngIf="project.isActive === true && (isTeamLead === true || hasPermission(Permissions.SystemAdministrator) === true)" name='minus-circle' color="#ef0000" (click)="deactivateProject(); hideTooltip('deactivate-icon') " 
            id="deactivate-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Deactivate Project"></box-icon>
            <box-icon *ngIf="!project.teamId && hasPermission(Permissions.SystemAdministrator)" name='plus' color='#001844' (click)="openAssignTeamModal(); hideTooltip('plus-icon')" id="plus-icon"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Assign Team"></box-icon>
            <box-icon *ngIf="!project.responsibleClientRep && (isTeamLead === true || hasPermission(Permissions.SystemAdministrator) === true)" name='user-pin' color='#001844' (click)="openAssignClientRepModal(); hideTooltip('user-pin')" id="user-pin"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Assign Responsible Client Rep"></box-icon>
            <box-icon *ngIf="project.responsibleClientRep && (isTeamLead === true || hasPermission(Permissions.SystemAdministrator) === true)" name='user-pin' color='#001844' (click)="openReAssignClientRepModal(); hideTooltip('user-pin')" id="user-pin"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Re-assign Responsible Client Rep"></box-icon>
            <!-- <box-icon name='trending-up' ></box-icon> -->
            <box-icon *ngIf="phaseChangeReady && project.phaseId !== 3 && (isTeamLead === true || hasPermission(Permissions.SystemAdministrator) === true)" name='trending-up' color='#001844' (click)="initiatePhaseChange(); hideTooltip('trending-icon')" id="trending-icon"
            data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Change Project Phase"></box-icon>
          </div>
        </div>

        <!-- //This message is shown when the project is ready to change phase and the user is a team lead -->
        <p-messages *ngIf="phaseChangeReady && project.phaseId !== 3" 
          [(value)]="messages" 
          [escape]="false" [closable]="false" 
          showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
        </p-messages>
        
        <!-- //This message is shown when the project is ready to change phase and the user is not a team lead
        <p-messages *ngIf="phaseChangeReady && project.phaseId !== 3 && isTeamLead === false" 
          [(value)]="notIsTeamLeadPhaseChangeMessages" 
          [escape]="false" [closable]="false" 
          showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
        </p-messages> -->

        <!-- <p-messages *ngIf="signOffReady && project.signedOff === false && project.phaseId === 3"  -->
        <p-messages *ngIf="signOffReady && project.signedOff === false && project.phaseId === 3 " 
        [(value)]="SignOffMessages" 
        [escape]="false" [closable]="false" 
        showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
        </p-messages>

        <!-- //This message is shown when is inactive and the user is a team lead -->
        <p-messages *ngIf="project.isActive === false" 
        [(value)]="ActivateProjectMessages" 
        [escape]="false" [closable]="false" 
        showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
        </p-messages>

        <p-messages *ngIf="project.signedOff === true && project.phaseId === 3" 
        [(value)]="IsSignedOffMessages" 
        [escape]="false" [closable]="false" 
        showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
        </p-messages>

        <p-messages *ngIf="project.isActive === true && !project.teamId" 
        [(value)]="AssignTeamMessages" 
        [escape]="false" [closable]="false" 
        showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
        </p-messages>

        <p-messages *ngIf="project.isActive === true && project.teamId && !project.responsibleClientRep" 
        [(value)]="AssignClientRepMessages" 
        [escape]="false" [closable]="false" 
        showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
        </p-messages>

        <!-- //This message is shown when the project is not active and the user is not a team lead -->
        <!-- <p-messages *ngIf="project.isActive === false && project.teamId && isTeamLead === false" 
        [(value)]="notIsTeamLeadActivateMessages" 
        [escape]="false" [closable]="false" 
        showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
        </p-messages> -->

        <!-- <p-messages *ngIf="!project.isActive && !project.teamId && !project.responsibleClientRep || !hasPermission(Permissions.SystemAdministrator)" 
          [(value)]="assignTeamAndClientRep" 
          [escape]="false" [closable]="false" 
          showTransitionOptions="300ms" hideTransitionOptions="300ms">
        </p-messages> -->
        
        <!-- <p-messages *ngIf="project.isActive === false && !project.teamId && isTeamLead === false" 
        [(value)]="" 
        [escape]="false" [closable]="false" 
        showTransitionOptions="300ms" hideTransitionOptions="300ms">                 
        </p-messages> -->

          <div *ngIf="client">
            <h3 class="mt-3">Client Details</h3>
            <hr style="margin-bottom: 10px" />

            <table class="content-table mt-2">
              <thead>
                <tr>
                  <th >Client Name</th>
                  <th >Client Email</th>
                  <th >Client Number</th>
                  <th >Registration Nr</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label="Client Name">{{ client.clientName }}</td>
                  <td data-label="Client Email">{{ client.clientEmail }}</td>
                  <td data-label="Client Number">{{ client.clientNumber }}</td>
                  <td data-label="Client Location">{{ client.clientRegistrationNr}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="team">
            <h3 class="mt-3">Team Details</h3>
            <hr style="margin-bottom: 10px" />

            <table class="content-table mt-2">
              <thead>
                <tr>
                  <th>Team Name</th>
                  <th>Team Description</th>
                  <th>Date Created</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label="Team Name">{{ team.teamName }}</td>
                  <td data-label="Team Description">{{ team.teamDescription }}</td>
                  <td data-label="Creation Date">{{ team.creationDate | date }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="mt-4" style="padding-top: 20px">   
            <div *ngIf="hasPermission(Permissions.canManageTestScripts)">                       
            <div class="row">
              <div class="col">      
                <h3>Test Scripts: {{testScripts.length}}</h3>
              </div> 
              <div class="col text-end" *ngIf="project.isActive === true && project.teamId && project.responsibleClientRep">
                <button (click)="openTemplateList()" class="btn1 btn-primary1">Create New Test Script +</button>
                <box-icon
                class="chevron-icon"
                name="chevron-down"
                [@rotateChevron]="showScripts"
                (click)="toggleShowScripts()"
              ></box-icon>
              </div>
            </div>
            <hr style="margin-bottom: 0px; margin-top: 5px" />
            <div *ngIf="showScripts" [@toggleTable]>
            <div *ngIf="testScripts" class="content-table mt-3" style="padding: 10px;">
              <div class="row center mt-4">
                <div class="col-12">
                  <div class="input-group">
                    <input type="text" placeholder="Search by process, test or description" [(ngModel)]="searchQuery" (input)="onSearch()" class="form-control">
                    <div class="input-group-append">
                      <span class="input-group-text"><box-icon name='search'></box-icon></span>
                    </div>
                  </div>
                  <p></p>
                  <button class ="btn btn-secondary form-control1" [ngClass]="{'highlighted': selectedButton === 'button1'}" style="width: 50%; font-size: 16px;" (click)="viewUnArchived('button1', project.projectId)"><b>Test Script List</b>
                  </button> <button class ="btn btn-secondary form-control1" [ngClass]="{'highlighted': selectedButton === 'button2'}"style="width: 50%; font-size:16px" (click)="viewArchived('button2', project.projectId)"><b>Archived Test Script List</b></button>
                </div>
              </div>
              <div *ngIf="testScripts.length === 0" class="alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin-top: 10px;">
                <b>No results found!</b>
              </div>
              <table *ngIf="testScripts.length> 0" class="content-table">
              <thead>
                <tr>
                  <th style="width:15%">Process</th>
                  <th style="width:15%">Test</th>
                  <th style="width:35%">Description</th>
                  <th style="width:10%; text-align: center;">Version</th>
                  <th style="width:15%">Last Reviewed</th>
                  <th style="width:10%; text-align: center;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ts of filteredTestScripts">
                  <td>{{ ts.process }}</td>
                  <td>{{ ts.test }}</td>
                  <td>{{ ts.testScriptDescription }}</td>
                  <td style="text-align: center;">{{ ts.version }}</td>
                  <td>{{ getFormattedDate(ts.dateReviewed) }}</td>
                  <td style="text-align: center;">
                    <box-icon name='show' color='#001844' [routerLink]="['/testscript-update', ts.testScriptId]"></box-icon>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
</div>

<!-- Modal for assigning a team -->
<div class="modal1" tabindex="-1" [ngClass]="{'show': showAssignTeamModal}" *ngIf="showAssignTeamModal">
  <div class="modal-dialog1 modal-dialog-centered">
    <div class="modal-content1">
      <div class="modal-header1 row">
        <div class="col" style="color: #001844;"><h5><b>Assign Team</b></h5></div>
        <div class="col text-end"><box-icon name='x' (click)="closeAssignTeamModal()"></box-icon></div>
      </div>
      <!-- <div class="modal-header1">
        <h5 class="modal-title1">Assign Team</h5>
        <button type="button" class="btn btn-close1" (click)="closeAssignTeamModal()">Close</button>
      </div> -->
      <div *ngIf="availableTeams.length === 0" class="modal-body1 alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin: 10px;">
        <b>There are no available teams to assign, please make sure that there is at least one team, with team members and a team lead, in order to proceed!</b>
      </div>
      <div class="modal-body1" *ngIf="availableTeams.length > 0">
        <table class="content-table mt-2">
          <thead>
            <tr>
              <th width="25%">Team Name</th>
              <th width="35%">Team Description</th>
              <th width="25%">Creation Date</th>
              <th width="15%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of availableTeams">
              <td>{{ team.teamName }}</td>
              <td>{{ team.teamDescription }}</td>
              <td>{{ team.creationDate | date }}</td>
              <td>
                <button class="btn" (click)="assignTeam(team.teamId)" style="background-color: #869ec3; color: #001844;">Assign</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer1 d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="closeAssignTeamModal()">Close</button>
      </div>
    </div>
  </div>

  </div>

  <div *ngIf="showModal2" id="selectTemplateModal" [ngClass]="{'show': showModal2}" class="modal1">
    <div class="modal-dialog1 modal-dialog-centered">
      <div class="modal-content1">
        <div class="modal-header1 row">
          <div class="col"><h2><b>Select Template</b></h2></div>
          <div class="col text-end"><box-icon name='x' (click)="closeTemplateList()"></box-icon></div>
        </div>
        <div *ngIf="templates.length === 0" class="modal-body1 alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin: 10px;">
          <b>There are no approved templates to use, please make sure that templates are approved otherwise make sure they are created, in order to proceed!</b>
        </div>
        <div class="modal-body1" *ngIf="filteredTemplates.length > 0">
          <p *ngIf="!templateSearchTerm" style="color: red; padding-left: 5px;">Please click on the template you would like to use!</p>
          <p *ngIf="!templateSearchTerm && filteredTemplates.length > 5" style="color: red; padding-left: 5px;">Only 5 templates are showing! Please search for a template!</p>
          <p *ngIf="templateSearchTerm && filteredTemplates.length === 0" style="color: red; padding-left: 5px;">No templates found!</p>
          <input type="text" [(ngModel)]="templateSearchTerm" (ngModelChange)="filterTemplates()" placeholder="Search template by name, test or description..." class="form-control mb-3">
          <div class="table-container">
          <table class="content-table">
            <thead>
              <tr>
                <th style="width:30%">Template Name</th>
                <th style="width:30%">Template Test</th>
                <th style="width:40%">Template Description</th>
                <!-- <th style="width:10%">Template Status</th> -->
                <th style="width:20%; text-align: center;">Select</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let template of filteredTemplates | slice:0:5">
                <td>{{ template.templateName }}</td>
                <td>{{ template.templateTest }}</td>
                <td>{{ template.templateDescription }}</td>
                <!-- <td>{{ template.templateStatusName}}</td> -->
                <td style="text-align: center;">
                  <box-icon name='check-square' color='#001844' (click)="selectTemplate(template)"></box-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="form-group1 text-center" style="margin-top: 25px;">
            <button type="button" class="btn1 btn-cancel1" (click)="closeTemplateList()">Cancel</button>
          </div>
        </div>
  </div>
</div>
</div>

  <div *ngIf="showModal" id="addTestScriptModal" [ngClass]="{'show': showModal}" class="modal1">
    <div class="modal-dialog1 modal-dialog-centered">
      <div class="modal-content1">
        <div class="modal-header1 row">
          <div class="col"><h2><b>Add New Test Script</b></h2></div>
          <div class="col text-end"><box-icon name='x' (click)="closeModal()"></box-icon></div>
        </div>
        
        <div class="modal-body1">
          <form [formGroup]="addTestScriptForm" (ngSubmit)="createTestScript()">
            <div class="row">
              <div class="form-group1 col">
                <label for="process">Process</label>
                <input placeholder="Process" id="process" class="form-control1" formControlName="process" required/>
                <div *ngIf="addTestScriptForm.get('process')?.invalid && addTestScriptForm.get('process')?.touched" class="text-danger">
                  <small *ngIf="addTestScriptForm.get('process')?.errors?.['required']">Process is required.</small>
                  <small *ngIf="addTestScriptForm.get('process')?.errors?.['minlength']">Process must be at least 10 characters long.</small>
                  <small *ngIf="addTestScriptForm.get('process')?.errors?.['maxlength']">Process cannot be more than 100 characters long.</small>
                </div>
              </div>
              <div class="form-group1 col">
                <label for="test">Test</label>
                <input id="test" formControlName="test" class="form-control1" />
                <div *ngIf="addTestScriptForm.get('test')?.invalid && addTestScriptForm.get('test')?.touched" class="text-danger">
                  <small *ngIf="addTestScriptForm.get('test')?.errors?.['required']">Test is required.</small>
                  <small *ngIf="addTestScriptForm.get('test')?.errors?.['minlength']">Test must be at least 10 characters long.</small>
                  <small *ngIf="addTestScriptForm.get('test')?.errors?.['maxlength']">Test cannot be more than 100 characters long.</small>
                </div>
              </div>
            </div>
            <div class="form-group1">
              <label for="testScriptDescription">Description</label>
              <textarea id="testScriptDescription" formControlName="testScriptDescription" class="form-control1"></textarea>
              <div *ngIf="addTestScriptForm.get('testScriptDescription')?.invalid && addTestScriptForm.get('testScriptDescription')?.touched" class="text-danger">
                <small *ngIf="addTestScriptForm.get('testScriptDescription')?.errors?.['required']">Description is required.</small>
                <small *ngIf="addTestScriptForm.get('testScriptDescription')?.errors?.['minlength']">Description must be at least 10 characters long.</small>
                <small *ngIf="addTestScriptForm.get('testScriptDescription')?.errors?.['maxlength']">Description cannot be more than 200 characters long.</small>
              </div>
            </div>
            <input type="hidden" formControlName="templateId" />
            <div class="form-group1 text-center">
              <button type="submit" class="btn1 btn-primary1" style="margin-right: 10px;">Create</button>
              <button type="button" class="btn1 btn-cancel1" (click)="closeModal()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal1" tabindex="-1" [ngClass]="{'show': showAssignClientRepModal}" *ngIf="showAssignClientRepModal">
    <div class="modal-dialog1 modal-dialog-centered">
      <div class="modal-content1">
        <div class="modal-header1 row">
          <div class="col"><h5><b>Assign Client Representative</b></h5></div>
          <div class="col text-end"><box-icon name='x' (click)="closeAssignClientRepModal()"></box-icon></div>
        </div>
        <div *ngIf="clientReps.length === 0" class="modal-body1 alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin: 10px;">
          <b>There are no client representatives for Client: {{this.client?.clientName}}, please make sure one is assigned in order to proceed!</b>
        </div>
        <div class="modal-body1" *ngIf="clientReps.length > 0">
          <table class="content-table mt-2">
            <thead>
              <tr>
                <th width="30%">Name</th>
                <th width="40%">Email</th>
                <th width="30%" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rep of clientReps">
                <td>{{ rep.repName }} {{ rep.repSurname }}</td>
                <td>{{ rep.repEmailAddress }}</td>
                <td class="text-center">
                  <button class="btn" (click)="assignClientRep(rep.repEmailAddress)" style="background-color: #869ec3; color: #001844;">Assign</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer1 d-flex justify-content-center">
          <button type="button" class="btn btn-secondary" (click)="closeAssignClientRepModal()">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Sign Off Not Used -->
  <!-- <button class="btn1 btn-primary1" (click)="openSignOffModal()">Sign Off</button> -->



  <div class="modal1" tabindex="-1" [ngClass]="{'show': showReAssignClientRepModal}" *ngIf="showReAssignClientRepModal">
    <div class="modal-dialog1 modal-dialog-centered">
      <div class="modal-content1">
        <div class="modal-header1 row">
          <div class="col"><h5><b>Re-assign Client Representative</b></h5></div>
          <div class="col text-end"><box-icon name='x' (click)="closeReAssignClientRepModal()"></box-icon></div>
        </div>
        <div *ngIf="clientReps.length === 0 && this.project?.responsibleClientRep" class="modal-body1 alert text-center" style="color: #001844; border: solid 1px #001844; background-color: #869ec3; margin: 10px;">
          <b>No results found!</b>
        </div>
        <div class="modal-body1" *ngIf="clientReps.length > 0">
          <table class="content-table mt-2">
            <thead>
              <tr>
                <th width="30%">Name</th>
                <th width="40%">Email</th>
                <th width="30%" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rep of clientReps">
                <td>{{ rep.repName }} {{ rep.repSurname }}</td>
                <td>{{ rep.repEmailAddress }}</td>
                <td *ngIf="this.project?.responsibleClientRep === rep.repEmailAddress" class="text-center">
                  <button class="btn" (click)="CannotAssignClientRep()" style="background-color: #869ec3; color: #001844;">Already Assigned</button>
                </td>
                <td *ngIf="this.project?.responsibleClientRep !== rep.repEmailAddress" class="text-center">
                  <button class="btn" (click)="assignClientRep(rep.repEmailAddress)" style="background-color: #869ec3; color: #001844;">Assign</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer1 d-flex justify-content-center">
          <button type="button" class="btn btn-secondary" (click)="closeReAssignClientRepModal()">Close</button>
        </div>
      </div>
    </div>
  </div>


 <!-- <button class="btn1 btn-primary1" (click)="openSignOffModal()">Sign Off</button> -->

<!-- Modal for sign-offf -->
<!-- <div *ngIf="showSignOffModal" [ngClass]="{'show': showSignOffModal}" class="modal1">
  <div class="modal-dialog1 modal-dialog-centered">
    <div class="modal-content1">
      <div class="modal-header1 row">
        <div class="col"><h2><b>Please Provide Your Signature Below</b></h2></div>
        <div class="col text-end"><box-icon name='x' (click)="closeSignOffModal()"></box-icon></div>
      </div>
      
      <div class="modal-body1" style="text-align: center;">
        <canvas #canvas width="200" height="180" style="border: 1px solid #000;"></canvas>
      </div>
      <div class="form-group1 text-center">
        <button type="button" class="btn1 btn-primary1" style="margin-right: 10px;" (click)="clearSignature()">Clear</button>
        <button type="button" class="btn1 btn-cancel1" (click)="savePDF()">Sign-Off</button>
      </div>
</div>
</div>
</div> -->
</div>
